@font-face {
  font-family: "GT Sectra Display Bold Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Bold-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Bold";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Sectra Display Light Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Light-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Medium Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Medium-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Medium";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Sectra Display Regular Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Regular-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Regular";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Sectra Display Super Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Super-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Super";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Super.otf");
}

@font-face {
  font-family: "GT Sectra Fine Black Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Black-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Black";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Black.otf");
}

@font-face {
  font-family: "GT Sectra Fine Bold";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Sectra Fine Bold Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Bold-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Book";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Book.otf");
}

@font-face {
  font-family: "GT Sectra Fine Medium Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Medium-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Medium";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Sectra Fine Regular Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Regular-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Regular";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Sectra Black Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Black-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Black";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Black.otf");
}

@font-face {
  font-family: "GT Sectra Bold Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Bold-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Bold";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Sectra Book Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Book-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Book";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Book.otf");
}

@font-face {
  font-family: "GT Sectra Medium Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Medium-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Medium";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Sectra Regular Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Regular-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Regular";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Black Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Black-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Black";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Black.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Bold Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Bold-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Light Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Light-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Light";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Light.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Medium Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Medium-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Regular-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Thin Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Thin-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Thin";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Thin.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Bold Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Bold-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Bold";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Light Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Light-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Light";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Light.otf");
}

.clear {
  clear: both;
}

.grid-1 {
  @include grid-column(1);
}

.grid-3 {
  @include grid-column(3);
  max-width: 250px;
}

/**
 * This combination of styles pushes the footer to the botto of the page even
 * when the content is short.
 */
.page-wrapper {
  color: $color-grey-font;
  display: flex;
  flex-direction: column;
  font-family: "GT Walsheim Pro Regular";
  font-size: 23px;
  height: 100%;
  min-height: 100vh;

  .page-contain {
    max-width: none;
    width: 100%;
  }

  .partial-page,
  .full-page {
    max-width: none;
  }
}

h2 {
  color: $color-grey-font;
  font-family: "GT Walsheim Pro Medium";
  font-size: 42px;
}

h3 {
  color: $color-grey-font;
  font-family: 'GT Walsheim Pro Medium';
  font-size: 21px;
  list-style-type: 31px;
}

.page-contain {
  margin: 0 auto;
  max-width: $max-content-width;
}

.content-article {
  @include grid-container;
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
}

.content-header,
.content-sidebar,
.content-body {
  @include grid-column(12);
  margin-bottom: 30px;
}

@media #{$bp-tablet-up} {
  .content-sidebar {
    @include grid-column(3);
    max-width: 270px;
  }

  .content-body {
    @include grid-column(9);
  }
}

@media #{$bp-desktop-large-up} {
  .content-body .partial-page#section-1,
  .datavis .partial-page {
    padding: 0 70px;
  }
}

aside.content-sidebar {
  ol {
    list-style-position: inside;
    padding-left: 0;

    li {
      border: 1px solid $color-grey-border;
      display: none;
      font-size: 17px;
      line-height: 21px;
      padding: 15px 10px 15px 20px;

      &:hover {
        color: $color-dark-green;

        a {
          color: $color-dark-green;
        }
      }

      a {
        color: $color-grey-font;
        text-decoration: none;
      }

      &:first-of-type {
        border-top: 2px solid $color-grey-border;
      }

      &.selected {
        color: $color-dark-green;
        display: list-item;
        padding-right: 40px;
        position: relative;

        a {
          color: $color-dark-green;
          cursor: default;
        }

        &::after {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 10px solid $color-white;
          content: '';
          cursor: pointer;
          height: 0;
          position: absolute;
          right: 19px;
          top: 19px;
          width: 0;
        }

        &::before {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 15px solid $color-green;
          content: '';
          cursor: pointer;
          height: 0;
          position: absolute;
          right: 15px;
          top: 17px;
          width: 0;
        }
      }
    }

    &.open {
      li {
        display: list-item;

        &.selected {
          &::after,
          &::before {
            display: none;
          }
        }
      }
    }

    @media #{$bp-tablet-up} {
      li {
        border: none;
        border-bottom: 2px solid $color-grey-border;
        display: list-item;

        &.selected {
          border-bottom: 2px solid $color-dark-green;
          padding-right: 10px;

          &::after,
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

header.content-header {
  background:
    linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)
    ),
    url('/images/nyc-background.jpg') bottom;
  background-size: cover;
  margin: 0;
  width: 100%;

  h1 {
    @include grid-column(9);
    color: #fff;
    font-family: "GT Sectra Display Bold";
    font-size: 31px;
    line-height: 38px;
    margin: 10px 15% 300px;
    text-align: center;
  }

  p {
    text-align: center;

    .arrow-down {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "GT Walsheim Pro Medium";
      font-size: 17px;
      padding-bottom: 90px;
      position: relative;

      &::after {
        background: url('/images/pngs/white-triangle.png');
        content: '';
        height: 32px;
        margin-right: calc(-25% + 20px);
        position: absolute;
        right: 50%;
        top: 30px;
        width: 39px;
      }
    }
  }

  @media #{$bp-desktop-up} {
    h1 {
      font-size: 56px;
      line-height: 70px;
    }
  }
}

.main {
  z-index: 9999;
}

.image-tout {
  margin-bottom: 60px;
  width: 100%;

  .image-background {
    height: auto;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .overlay {
    background: $color-dark-green;
    color: $color-white;
    margin: -15px auto 0;
    opacity: .87;
    padding: 10px 40px 5px;
    position: relative;
    width: calc(100% - 20px);

    .messagetop {
      background: $color-dark-green;
      height: 20px;
      left: 20px;
      margin: 0 auto;
      position: absolute;
      top: -20px;
      width: calc(100% - 40px);

      &::after {
        border-bottom: 15px solid transparent;
        border-left: 15px solid $color-dark-green;
        border-top: 15px solid transparent;
        content: '';
        height: 20px;
        opacity: .87;
        position: absolute;
        right: -13px;
        top: 3px;
        transform: rotate(135deg);
        width: 20px;
      }

      &::before {
        border-bottom: 15px solid transparent;
        border-right: 15px solid $color-dark-green;
        border-top: 15px solid transparent;
        content: '';
        height: 20px;
        left: -13px;
        opacity: .87;
        position: absolute;
        top: 3px;
        transform: rotate(225deg);
        width: 20px;
      }
    }

    .messagebottom {
      background: $color-dark-green;
      bottom: -20px;
      height: 20px;
      left: 20px;
      margin: 0 auto;
      position: absolute;
      width: calc(100% - 40px);

      &::after {
        border-bottom: 15px solid transparent;
        border-left: 15px solid $color-dark-green;
        border-top: 15px solid transparent;
        bottom: 3px;
        content: '';
        height: 20px;
        position: absolute;
        right: -13px;
        transform: rotate(225deg);
        width: 20px;
      }

      &::before {
        border-bottom: 15px solid transparent;
        border-right: 15px solid $color-dark-green;
        border-top: 15px solid transparent;
        bottom: 3px;
        content: '';
        height: 20px;
        left: -13px;
        position: absolute;
        transform: rotate(135deg);
        width: 20px;
      }
    }

    h4 {
      font-family: 'GT Walsheim Pro Medium';
      font-size: 23px;
      line-height: 29px;
    }

    p {
      font-family: 'GT Walsheim Pro Regular';
      font-size: 19px;
      line-height: 25px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  @media #{$bp-desktop-up} {
    .overlay {
      margin: -250px 20px 0 auto;
      width: calc(100% - 150px);

      p {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }
}

.subheader {
  border-bottom: 2px solid $color-black;
  margin-bottom: 60px;
  margin-top: -50px;
  position: relative;

  .messagetop {
    background: $color-white;
    height: 40px;
    left: 40px;
    position: absolute;
    top: -40px;
    width: calc(100% - 80px);

    &::after {
      border-bottom: 30px solid transparent;
      border-left: 30px solid $color-white;
      border-top: 30px solid transparent;
      content: '';
      height: 40px;
      position: absolute;
      right: -26px;
      top: 5px;
      transform: rotate(135deg);
      width: 40px;
    }

    &::before {
      border-bottom: 30px solid transparent;
      border-right: 30px solid $color-white;
      border-top: 30px solid transparent;
      content: '';
      height: 40px;
      left: -26px;
      position: absolute;
      top: 5px;
      transform: rotate(225deg);
      width: 40px;
    }
  }

  .submessage {
    background: $color-white;
    padding: 5px 30px 15px;

    .more-info {
      margin-bottom: 5px;
    }
  }
}

.next {
  text-align: center;
}

.continue {
  border-top: 1px solid $color-grey-border;
  margin: 20px 0 40px;
  padding: 20px 0 0;
}

.more-info a,
.continue a,
.improvement .more-info {
  background-image:
    linear-gradient(
      to right,
      rgba(191, 255, 223, 0) 50%,
      $color-light-green 50%
    );
  background-position: 0 0;
  background-size: 200.5% auto;
  color: $color-dark-green;
  cursor: pointer;
  display: inline;
  font-family: 'GT Walsheim Pro Regular';
  padding-right: 30px;
  position: relative;
  text-decoration: none;
  transition: background-position .5s ease-out;

  &::after {
    border-bottom: 5px solid transparent;
    border-left: 8.6px solid $color-white;
    border-top: 5px solid transparent;
    bottom: 7px;
    content: '';
    height: 0;
    position: absolute;
    right: 12px;
    width: 0;
  }

  &::before {
    border-bottom: 8px solid transparent;
    border-left: 13.76px solid $color-dark-green;
    border-top: 8px solid transparent;
    bottom: 4px;
    content: '';
    height: 0;
    position: absolute;
    right: 9px;
    width: 0;
  }

  &:hover {
    background-position: -99.99% 0;

    &::after {
      border-left: 8.6px solid $color-light-green;
    }
  }
}

// .title-highlight {
//   background-image:
//     linear-gradient(
//       to right,
//       rgba(191, 255, 223, 0) 50%,
//       $color-light-green 50%
//     );
//   background-position: 0 0;
//   background-size: 200.5% auto;
//   color: $color-black;
//   cursor: pointer;
//   display: inline;
//   font-family: 'GT Sectra Display Bold';
//   position: relative;
//   text-decoration: none;
//   transition: background-position .5s ease-out;
// }

.improvement {
  &:hover {
    .more-info {
      background-position: -99.99% 0;

      &::after {
        border-left-color: $color-light-green;
      }
    }
  }
}

@media #{$bp-desktop-up} {
  .subheader {
    margin: -130px auto 60px auto;
    max-width: 990px;

    .submessage {
      padding: 15px 70px 50px;
      text-align: center;
    }
  }
}

.content-body.index-body {
  @include grid-column(12);
  margin-bottom: 0;

  h2 {
    color: $color-black;
    font-family: "GT Sectra Display Bold";
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .improvements {
    margin: 0 auto 40px;
    max-width: 1200px;
  }

  .improvement {
    border: 1px solid $color-black;
    height: 564px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .top-half {
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      transition: .5s all;
      width: 100%;

      &.improvements-buildings {
        background: url('/images/improve-buildings.jpg');
        background-size: cover;
      }

      &.improvements-parks {
        background: url('/images/improve-parks.jpg');
        background-size: cover;
      }

      &.improvements-schools {
        background: url('/images/improve-schools.jpg');
        background-size: cover;
      }

      &.improvements-paths {
        background: url('/images/improve-paths.jpg');
        background-size: cover;
      }

      &.improvements-ferries {
        background: url('/images/improve-ferries.jpg');
        background-size: cover;
      }

      &.improvements-shelters {
        background: url('/images/improve-shelters.jpg');
        background-size: cover;
      }
    }

    .bottom-half {
      bottom: 0;
      height: 50%;
      left: 0;
      padding: 0 20px;
      position: absolute;
      width: 100%;

      h3 {
        color: $color-black;
        font-size: 24px;
        line-height: 30px;
        margin: 21px 0 10px;
        text-align: left;
      }

      p {
        font-size: 17px;
        line-height: 24px;
        text-align: left;
      }
    }

    &:hover {
      .top-half {
        opacity: .7;
        transform: scale(1.1);
      }
    }

    @media #{$bp-desktop-up} {
      float: left;
      margin: 10px;
      width: calc(33.3% - 20px);
    }

    @media #{$bp-desktop-extra-large-up} {
      height: 464px;
    }
  }

  h3 {
    font-family: "GT Sectra Display Bold";
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  @media #{$bp-desktop-up} {
    h2 {
      font-size: 43px;
      line-height: 53px;
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      text-align: left;
    }

    .partial-page {
      @include grid-column(10);
    }

    .full-page {
      @include grid-column(12);
      float: none;
    }

    p {
      font-size: 23px;
      line-height: 36px;
    }
  }
}

.datavis {
  background: $color-skyblue;
  margin: 40px -20px 0 -20px;
  max-width: none;
  padding: 50px 0;

  .allindustry {
    cursor: pointer;
  }

  .budgetlabel {
    display: table-cell;
    vertical-align: middle;
  }

  .partial-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  h3.category {
    font-family: 'GT Walsheim Pro Medium';
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 0;
    text-align: center;
  }

  .back-agencies,
  .back-services {
    .more-info a {
      font-size: 17px;
      margin-bottom: 15px;
      padding: 0 0 0 18px;

      &::after {
        border-bottom: 3px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid $color-skyblue;
        border-top: 3px solid transparent;
        content: '';
        height: 0;
        left: -4px;
        position: absolute;
        right: auto;
        top: 7px;
        width: 0;
      }

      &::before {
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 9px solid $color-green;
        border-top: 6px solid transparent;
        content: '';
        height: 0;
        left: -6px;
        position: absolute;
        right: auto;
        top: 4px;
      }

      &:hover {
        &::after {
          border-right: 6px solid $color-light-green;
        }
      }
    }
  }

  .investmentfilters {
    margin: 0 auto 20px 10px;
    max-width: 640px;
  }

  #infrastructure {
    margin: 0 auto;
    max-width: 640px;
    padding-bottom: 100px;
    padding-left: 15px;
  }

  .investmentfilter {
    background: $color-white;
    border: 2px solid $color-black;
    color: $color-black;
    font-family: "GT Walsheim Pro Regular";
    font-size: 16px;
    height: 44px;
    letter-spacing: 3px;
    margin: 5px 0;
    opacity: .5;
    text-transform: uppercase;
    width: calc(50% - 10px);

    &:hover {
      background: $color-aqua;
    }

    &.selected {
      background: $color-aqua;
      opacity: 1;
    }
  }

  li {
    display: none;
    list-style-type: none;
    margin: 2px 0 0;
    min-height: 0;
    overflow: hidden;
    position: relative;
    transition: 1s all;

    &::after {
      clear: both;
    }

    .budgetname {
      display: table-cell;
      font-family: "GT Walsheim Pro Medium";
      font-size: 15px;
      max-width: calc(100% - 155px);
      text-transform: lowercase;
      vertical-align: middle;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .budgetpercent,
    .budgetamount {
      display: table-cell;
      font-family: "GT Walsheim Pro Black";
      font-size: 15px;
      padding: 0 0 0 10px;
      vertical-align: middle;
      width: 70px;
    }

    .budget {
      background: $color-green;
      display: table-cell;
      float: left;
      height: 100%;
      min-height: 30px;
      vertical-align: middle;
      width: 80px;
    }

    &.tycsa {
      .budget {
        background: $color-dark-green;
      }
    }
  }

  h4 {
    display: table-cell;
    margin-top: 5px;
    vertical-align: middle;
  }

  .tycsa,
  .lifecyclevis,
  .servicevis,
  .fundingvis {
    height: 0;
  }

  @media #{$bp-small-tablet-up} {
    .investmentfilters {
      margin-left: auto;
    }
  }

  @media #{$bp-desktop-up} {
    li {
      .budget {
        width: 160px;
      }

      .budgetname,
      .budgetpercent,
      .budgetamount {
        font-size: 18px;
      }

      .budgetamount {
        padding: 0 0 0 20px;
        vertical-align: middle;
        width: 100px;
      }

      .budgetpercent,
      .budgetamount {
        padding: 0 0 0 10px;
        width: 90px;
      }
    }

    .investmentfilter {
      width: calc(25% - 10px);
    }

    #infrastructure {
      max-width: 1024px;
      padding-left: 220px;
    }
  }
}

.main-footer {
  margin-top: 0;
}

.interior-page {
  .chartpost {
    color: $color-grey-label;
    font-family: 'GT Walsheim Pro Regular';
    font-size: 14px;
    line-height: 29px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
  }
}

.chart {
  background: $color-aquablue;
  float: left;
  margin-bottom: 30px;
  padding: 53px 10px 30px;
  width: 100%;

  h2 {
    text-align: center;
  }

  .subchart {
    color: $color-grey-label;
    font-family: 'GT Walsheim Pro Regular';
    font-size: 23px;
    line-height: 29px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
  }

  th,
  td {
    white-space: nowrap;
  }

  tr.empty {
    td {
      border: none;
      height: 36px;
    }
  }

  th {
    border-bottom: 2px solid $color-grey-font;
    color: $color-grey-font;
    font-family: 'GT Walsheim Pro Bold';
    font-size: 17px;
    line-height: 34px;
    min-height: 45px;
    padding: 5px 10px;
  }

  td {
    border-bottom: 1px solid $color-blueborder;
    font-family: 'GT Walsheim Pro Regular';
    font-size: 17px;
    line-height: 24px;
    padding: 5px 10px;
    text-align: right;

    &:first-of-type {
      font-size: 15px;
      min-height: 36px;
      text-align: left;
    }
  }
}

.scroll-chart {
  margin: 0 auto 20px;
  max-width: 1200px;
  position: relative;

  .firstcontainer {
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 50%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .chart-container.mobile {
    background: $color-aqua-dark;
    -moz-box-shadow: inset 2px 0 7px $color-black;
    -webkit-box-shadow: inset 2px 0 7px $color-black;
    box-shadow: inset 2px 0 7px $color-black;
    left: 50%;
    overflow-x: scroll;
    position: absolute;
    top: 0;
    width: 50%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  table {
    td.total {
      border-bottom: 2px solid $color-grey-font;
      border-top: 2px solid $color-grey-font;
    }

    th {
      text-align: right;

      &:first-of-type {
        text-align: left;
      }
    }
  }

  table.responsive {
    min-width: 100%;

    th {
      &:first-of-type {
        height: 46px;
        min-height: 46px;
      }
    }

    td,
    th {
      &:first-of-type {
        display: none;

        @media #{$bp-desktop-up} {
          display: table-cell;
        }
      }
    }

    @media #{$bp-desktop-up} {
      margin: 0 auto;
      width: 90%;
    }
  }

  table.firstcolumn {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;

    tr {
      &:first-of-type {
        height: 46px;
        min-height: 46px;
      }
    }

    td,
    th {
      display: none;

      &:first-of-type {
        display: block;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
      }
    }
  }
}

.index-page {
  .datavis {
    .allindustry,
    .servicevis,
    .lifecyclevis {
      h4 {
        background-image:
          linear-gradient(
            to right,
            rgba(191, 255, 223, 0) 50%,
            $color-light-green 50%
          );
        background-position: 0 0;
        background-size: 200.5% auto;
        font-family: 'GT Walsheim Pro Regular';
        transition: background-position .5s ease-out;
      }

      &:hover {
        cursor: pointer;

        h4 {
          background-position: -99.99% 0;
        }

        .budget {
          background: $color-dark-green;
        }
      }
    }
  }
}

.interior-page {
  h1 {
    color: $color-black;
    font-family: 'GT Sectra Display Bold';
    font-size: 31px;
    line-height: 38px;

    & + p {
      color: $color-dark-green;
      font-family: 'GT Walsheim Pro Regular';
      font-size: 23px;
      line-height: 29px;
    }
  }

  h2 {
    color: $color-dark-green;
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  p {
    font-family: 'GT Sectra Book';
    font-size: 21px;
    line-height: 31px;
  }

  .main-header a.branding p {
    font-family: GT Walsheim Pro Regular;
  }

  .content-body {
    margin-left: 20px;
    width: calc(100% - 40px);

    ul {
      list-style: none;
      margin: 0 0 20px;
      padding: 0;
    }

    li {
      font-family: 'GT Sectra Book';
      font-size: 21px;
      line-height: 31px;
      margin: 20px 0;
      padding-left: 1em;
      text-indent: -.7em;
    }

    li::before {
      color: $color-dark-green;
      content: "• ";
    }
  }

  .datavis {
    margin-left: 0;
    margin-right: 0;

    h2,
    p {
      text-align: center;
    }

    li {
      display: table;
      min-height: 30px;
    }

    #infrastructure {
      border-bottom: 1px solid $color-grey-label;
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    .hidden-category {
      display: none;
    }

    .budgetamount {
      width: 90px;
    }

    .budget-total {
      font-family: 'GT Walsheim Pro Bold';
      font-size: 15px;
    }

    .budget:hover {
      background: $color-green;
    }
  }

  @media #{$bp-tablet-up} {
    .content-body {
      margin-left: 55px;
      max-width: 730px;
      width: calc(75% - 55px);

      section {
        margin: 0 10px 0 50px;

        .image-tout {
          margin: 0 -150px 60px -50px;
          width: calc(100% + 200px);
        }
      }
    }
  }

  @media #{$bp-desktop-up} {
    h1 {
      font-size: 43px;
      line-height: 53px;
    }

    .main-header {
      margin-bottom: 50px;
    }
  }
}
