@font-face {
  font-family: "GT Sectra Display Bold Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Bold-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Bold";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Sectra Display Light Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Light-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Medium Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Medium-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Medium";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Sectra Display Regular Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Regular-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Regular";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Sectra Display Super Italic";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Super-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Display Super";
  src: url("/fonts/GT-Sectra-Display-Trial/GT-Sectra-Display-Trial-Super.otf");
}

@font-face {
  font-family: "GT Sectra Fine Black Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Black-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Black";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Black.otf");
}

@font-face {
  font-family: "GT Sectra Fine Bold";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Sectra Fine Bold Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Bold-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Book";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Book.otf");
}

@font-face {
  font-family: "GT Sectra Fine Medium Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Medium-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Medium";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Sectra Fine Regular Italic";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Regular-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Fine Regular";
  src: url("/fonts/GT-Sectra-Fine-Trial/GT-Sectra-Fine-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Sectra Black Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Black-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Black";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Black.otf");
}

@font-face {
  font-family: "GT Sectra Bold Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Bold-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Bold";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Sectra Book Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Book-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Book";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Book.otf");
}

@font-face {
  font-family: "GT Sectra Medium Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Medium-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Medium";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Sectra Regular Italic";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Regular-Italic.otf");
}

@font-face {
  font-family: "GT Sectra Regular";
  src: url("/fonts/GT-Sectra-Trial/GT-Sectra-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Black Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Black-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Black";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Black.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Bold Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Bold-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Light Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Light-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Light";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Light.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Medium Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Medium-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Medium.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Regular-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Regular.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Thin Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Thin-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Thin";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Thin.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Bold Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Bold-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Bold";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Light Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Light-Oblique.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Ultra Light";
  src: url("/fonts/GT-Walsheim-Pro-Trial/GT-Walsheim-Pro-Trial-Ultra-Light.otf");
}

.clear {
  clear: both;
}

/**
 * This combination of styles pushes the footer to the botto of the page even
 * when the content is short.
 */
.page-wrapper {
  color: $color-grey-font;
  display: flex;
  flex-direction: column;
  font-family: "GT Walsheim Pro Regular";
  font-size: 23px;
  height: 100%;
  min-height: 100vh;

  .main-content {
    flex-grow: 1;
  }
}

h2 {
  color: $color-grey-font;
  font-family: "GT Walsheim Pro Medium";
  font-size: 42px;
}

.page-contain {
  margin: 0 auto;
  max-width: $max-content-width;
}

.content-article {
  @include grid-container;
}

.content-header,
.content-sidebar,
.content-body {
  @include grid-column(12);
  margin-bottom: 30px;
}

@media #{$bp-tablet-up} {
  .content-sidebar {
    @include grid-column(3);
  }

  .content-body {
    @include grid-column(9);
  }
}

header.content-header {
  background: url('/images/nyc-background.jpg');
  background-size: cover;
  margin: 0;
  width: 100%;

  h1 {
    @include grid-column(9);
    color: #fff;
    font-family: "GT Sectra Display Bold";
    font-size: 31px;
    line-height: 38px;
    margin: 35px 15% 200px;
    text-align: center;
  }

  p {
    text-align: center;

    .arrow-down {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "GT Walsheim Pro Medium";
      font-size: 17px;
      padding-bottom: 90px;
      position: relative;

      &::after {
        background: url('/images/pngs/white-triangle.png');
        content: '';
        height: 32px;
        margin-right: calc(-25% + 20px);
        position: absolute;
        right: 50%;
        top: 30px;
        width: 39px;
      }
    }
  }

  @media #{$bp-desktop-up} {
    h1 {
      font-size: 56px;
      line-height: 70px;
    }
  }
}

.main {
  z-index: 9999;
}

.subheader {
  border-bottom: 2px solid $color-black;
  margin-top: -50px;

  .topcontainer {
    height: 50px;
    overflow: hidden;
    position: relative;

    .messagetop {
      background: none;
      bottom: 0;
      display: flex;
      height: 50px;
      justify-content: space-between;
      position: absolute;
      width: 100%;

      .messagetop-left {
        background: $color-white;
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        height: 50px;
        width: 50px;
      }

      .messagemiddle {
        background: $color-white;
        height: 50px;
        width: calc(100% - 100px);
      }

      .messagetop-right {
        background: $color-white;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
        height: 50px;
        width: 50px;
      }
    }
  }

  .submessage {
    background: $color-white;
    padding: 5px 30px 15px;

    .principles a {
      background-image:
        linear-gradient(
          to right,
          rgba(255, 255, 225, 0) 50%,
          $color-light-green
        );
      background-position: 0 0;
      background-size: 200% auto;
      color: $color-dark-green;
      cursor: pointer;
      display: inline-block;
      padding-right: 30px;
      position: relative;
      text-decoration: none;
      transition: background-position .5s ease-out;

      &::after {
        border-bottom: 6px solid transparent;
        border-left: 10px solid $color-white;
        border-top: 6px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: 10px;
        top: 9px;
        width: 0;
      }

      &::before {
        border-bottom: 10px solid transparent;
        border-left: 15px solid $color-green;
        border-top: 10px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: 7px;
        top: 5px;
        width: 0;
      }

      &:hover {
        background-position: -99.99% 0;

        &::after {
          border-left: 10px solid $color-light-green;
        }
      }
    }
  }
}

@media #{$bp-desktop-up} {
  .subheader {
    margin: -130px auto 30px auto;
    max-width: 990px;

    .submessage {
      padding: 15px 30px 50px;
      text-align: center;
    }
  }
}

.content-body.index-body {
  @include grid-column(12);

  h2 {
    color: $color-black;
    font-family: "GT Sectra Display Bold";
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .improvements {
    border: 1px solid $color-black;
  }

  @media #{$bp-desktop-up} {
    h2 {
      font-size: 43px;
      line-height: 53px;
    }

    .grid-1 {
      @include grid-column(1);
    }

    #section-1,
    #section-2,
    #section-3 {
      @include grid-column(10);
    }

    p {
      font-size: 23px;
      line-height: 36px;
    }
  }
}
