.main-footer {
  background: $color-grey-font;
  margin-top: 50px;
  padding: 15px 0;
}

.footer-nav {
  @include grid-container;

  a,
  .copyright {
    color: $color-lightblue;
    font-size: 18px;
    text-decoration: none;
  }

  .copyright {
    font-size: 15px;
    position: relative;
  }

  .site-links,
  .social-links {
    @include grid-column(12);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;

    &:first-of-type {
      border-bottom: 1px solid $color-white;
    }

    li {
      margin: 10px 0;
    }

    .copyright {
      order: 2;
    }

    .logo {
      order: 1;
    }
  }

  @media #{$bp-desktop-up} {
    .site-links,
    .social-links {
      @include grid-column(6);
      display: table;
      justify-content: space-between;
      padding: 0;

      &:first-of-type {
        border-bottom: none;

        li {
          margin: 0 15px;
        }
      }

      &:last-of-type {
        min-width: 480px;

        li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .social-header,
    .social-list {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }

    .social-list {
      margin-left: 32px;
    }

    .social-links {
      text-align: right;
    }
  }
}
