extends /_layouts/_financing.pug
block content
  article.content-article
    div.content-container
      aside.content-sidebar
        h2 Financing
        nav.internal-nav
          ol
              li
                a(href='/financing_program.html') Overview
              li
                a(href='/financing_nycgob.html') New York City General Obligation Bonds
              li
                a(href='/financing_variableratedebt.html') Variable Rate Debt
              li.selected
                a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
              li
                a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
              li
                a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
                
      article.content-body
        section#section-1
          h1 The New York City Municipal Water Finance Authority
          p.
            The New York City Municipal Water Finance Authority (NYW) was created in 1985 to finance capital improvements to the City’s water and sewer system. Since its first bond sale in November 1985, the Authority has sold $68.9 billion in bonds. These bond issuances included a combination of general (first) resolution, second general resolution and subordinated special resolution crossover refunding water and sewer system revenue bonds.
          p.
            Of the aggregate bond par amount sold, $31.1 billion is outstanding, $26.9 billion, including $665.4 million of special resolution crossover bonds, was refinanced, $5.0 billion was defeased with Authority funds prior to maturity, and $5.9 billion was retired with revenues as it matured. In addition to this longterm debt, NYW uses bond anticipation notes (BANs) issued to the New York State Environmental Facilities Corporation (EFC) and a commercial paper program as a source of flexible shortterm financing. As of April 2019, $27.6 million of BAN draws are outstanding. The Authority is authorized to draw up to $600 million of commercial paper notes, including up to $400 million of the Extendible Municipal Commercial Paper. Currently, the Authority has no commercial paper outstanding, and does not expect to issue commercial paper for the remainder of the current fiscal year.
          p.
            NYW’s outstanding debt also includes floating rate bonds, which have been a reliable source of cost effective financing. NYW has $5.1 billion of floating rate bonds or 16.5 percent of its outstanding debt, including $401 million, which was swapped to a fixed rate. NYW’s floating rate exposure primarily consists of tax-exempt floating rate debt supported by liquidity facilities. NYW’s exposure also includes $500 million of privately placed tax-exempt index rate bonds, which pay interest based on a specified index. Index rate bonds do not require liquidity facilities, however, they provide for an increased rate of interest commencing on an identified step up date if the bonds are not converted or refunded. Through the step up date, the bonds have an all-in cost similar to floating rate bonds supported by liquidity facilities.
          p. 
            NYW is a party to two interest rate exchange agreements (swaps) with a total notional amount of $401 million. Under these agreements, the Authority pays a fixed interest rate of 3.439% in exchange for a floating rate based on 67% of onemonth LIBOR. As of March 29, 2019, the mark-to-market value of the swaps was negative $96.4 million. This is the theoretical amount, which NYW would pay if both swaps were terminated as of March 29, 2019.
          p.
            NYW participates in the State Revolving Fund (SRF) program administered by the EFC. The SRF provides a source of long-term below-market interest rate borrowing, subsidized by federal capitalization grants, state matching funds, and other funds held by EFC.
          p.
            Summarized in the following table are the issuances that have closed to date in fiscal year 2019. The proceeds of the bonds were applied to pay the cost of improvements to the system or paid principal and interest on certain of the Authority’s outstanding debt and paid the costs of issuance.
    article.chart
      h2 NYW Issuance

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Series
                th (N)ew Money (R)efunding
                th Issue Date
                th Par Amount
                th True Interest Cost (TIC)
                th Longest Maturity
              tr
                td 2019 Series 1(1) 
                td R
                td 18/2/2018 
                td $319,715,000 
                td 1.44%(2) 
                td 2037
              tr
                td 2019 AA 
                td R
                td 8/21/2018 
                td $264,035,000 
                td 2.19% 
                td 2024
              tr
                td 2019 BB 
                td N
                td 19/16/2018 
                td $100,000,000 
                td VAR 
                td 2051
              tr
                td 2019 Series 2 and 3(1)  
                td N
                td 11/29/2018 
                td $485,144,000
                td 2.20% (2) 
                td 2048
              tr
                td 2019 CC 
                td N
                td 12/12/2018
                td $300,000,000
                td VAR
                td 2051
              tr
                td 2019 DD 
                td N
                td 1/24/201
                td $475,000,000
                td 3.93%
                td 2049
              tr
                td 2019 EE 
                td R
                td 3/20/2019
                td $415,610,000
                td 3.75%
                td 2040
              tr
                td 2019 FF 
                td N/R
                td 4/17/2019
                td $500,000,000
                td 3.49%
                td 2049
      p.chartpost (1) Bonds issued to EFC
      p.chartpost (2) Reflects the Effective Interest Cost, which includes the benefit from the EFC subsidy and does not account for cost of annual fees for administration.

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section
          p.
            NYW expects to issue $75 million of additional new money bonds or notes over the remainder of fiscal year 2019. During the period from 2020 to 2023, NYW expects to sell an average of approximately $1.9 billion of new money bonds per year. Of this amount, NYW plans to issue $300 million bonds annually to EFC, taking advantage of the interest rate subsidy available for qualifying projects, and minimizing the overall costs of its financing program. NYW expects to issue approximately 90 percent of its new debt per year as fixed rate debt with the remainder issued as floating rate debt, subject to market conditions.
        
            
          p.continue
            a(href='/financing_transitional_finance_authority.html') <strong>Continue to Financing 5:</strong> The New York City Transitional Finance Authority
