extends /_layouts/_financing.pug
block content
  article.content-article
    div.content-container
      aside.content-sidebar
        h2 Financing
        nav.internal-nav
          ol
              Li
                a(href='/financing_program.html') Overview
              li.selected
                a(href='/financing_nycgob.html') New York City General Obligation Bonds
              li
                a(href='/financing_variableratedebt.html') Variable Rate Debt
              li
                a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
              li
                a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
              li
                a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
                
      article.content-body
        section#section-1
          h1 New York City General Obligation Bonds
          p.
             Since July 1, 2018, the City has issued $1.2 billion in GO bonds for capital purposes and $1.8 billion in GO refunding bonds. 
          p.
             The dates and principal amounts are as follows:
    
    article.chart
      h2 NYC GO Issuance
      p.subchart ($ in millions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Series
                th (N)ew Money/(R)efunding
                th Issue Date
                th Tax Exempt Amount
                th Taxable Amount
                th Total Per Amount
              tr
                td 2019 ABC 
                td R
                td 8/22/2018
                td $771
                td $60
                td $831
              tr
                td 2019 D 
                td N
                td 12/18/2018
                td 850
                td 350
                td 1,200
              tr
                td 2019 EF 
                td R
                td 3/19/2019
                td 915
                td 78
                td 993
              tr
                td.total Total
                td.total &nbsp;
                td.total &nbsp;
                td.total $2,536 
                td.total $488
                td.total $3,024

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section
          p. 
            The GO refunding transactions the City completed to date in fiscal year 2019 generated just under $250 million of debt service savings during the financial plan period.
          p. 
            In addition to the total issuance mentioned above, the City took steps to manage its outstanding floating rate debt. The City reoffered four subseries of floating rate bonds amounting to approximately $316 million. Of those reoffered issues, two subseries of tax-exempt variable rate demand bonds totaling approximately $110 million and two subseries of tax-exempt index rate bonds amounting to approximately $206 million were converted to fixed rates. 
          p.
            The City plans to issue GO bonds for capital purposes of approximately $1.2 billion, $4.0 billion, $4.7 billion, $5.3 billion, and $5.5 billion in fiscal years 2019 through 2023, respectively.
            
          p.continue
            a(href='/financing_variableratedebt.html') <strong>Continue to Financing 3:</strong> Variable Rate Debt
