extends /_layouts/_financing.pug
block content
  article.content-article
    aside.content-sidebar
      nav.internal-nav
        ol
            Li
              a(href='#') Overview
            li.selected
              a(href='#') New York City General Obligation Bonds
            li
              a(href='#') Variable Rate Debt
            li
              a(href='#') The New York City Municipal Water Finance Authority
            li
              a(href='#') The New York City Transitional Finance Authority
            li
              a(href='#') Hudson Yards Infrastructure Corporation
              
    article.content-body
      section#section-1
        h1 New York City General Obligation Bonds
        p.
          Since July l, 2016, the City has issued approximately $2.3 billion in bonds for capital purposes and $900 million in refunding bonds. The dates and principal amounts are as follows:
        p. 
 
    article.chart
      h2 NYC GO Issuance
      p.subchart ($ in millions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Series
                th (N)ew Money/(R)efunding
                th Issue Date
                th Tax Exempt Amount
                th Taxable Amount
                th Total Per Amount
              tr
                td 2017A
                td N
                td 8/18/2016
                td $1,101
                td $250
                td $1,431
              tr
                td 2017B
                td N
                td 12/20/2016
                td 650
                td 200
                td 850
              tr
                td 2017 CD
                td R
                td 2/22/2017
                td 900
                td 0
                td $900
              tr
                td.total Total
                td.total &nbsp;
                td.total &nbsp;
                td.total $2,731
                td.total $450
                td.total $3,181

    div.grid-3
      span &nbsp;
    article.content-body
      section
        p. 
          The refunding transaction the City has completed to date in fiscal year 2017 generated approximately $130 million of debt service savings during the financial plan period.
        p. 
          In addition to the total issuance mentioned above, the City took steps to manage its outstanding floating rate debt. The City reoffered four subseries of floating rate bonds amounting to over $200 million. Of those reoffered issues, two subseries of publicly offered floating rate notes amounting to approximately $150 million and two subseries of variable rate demand bonds amounting to approximately $50 million were converted to fi xed rates.
        p. 
          The City plans to issue GO bonds for capital purposes of approximately $3.3 billion, $4.5 billion, $4.7 billion, and $4.6 billion in fiscal years 2018 through 2021, respectively.
        p. 
          Currently the debt service for the City, TFA FTS, and City appropriation debt, or conduit debt, excluding the effect of pre payments, is 7.4 percent of the City’s total budgeted revenues in fiscal year 2017. That ratio is projected to rise to 9.0 percent in fiscal year 2021. As a percentage of tax revenues, the debt service ratio is 11.5 percent in fiscal year 2017 and is projected to increase to 13.1 percent in fiscal year 2021.
