extends /_layouts/_financing.pug
block content
  article.content-article
    div.content-container
      aside.content-sidebar
        h2 Financing
        nav.internal-nav
          ol
              li.selected
                a(href='/financing_program.html') Overview
              li
                a(href='/financing_nycgob.html') New York City General Obligation Bonds
              li
                a(href='/financing_variableratedebt.html') Variable Rate Debt
              li
                a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
              li
                a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
              li
                a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
                
      article.content-body
        section#section-1
          h1 Financing Program
          p.
            The City financing program projects $53.3 billion of longterm borrowing for the period fiscal years 2019 through 2023 to support the current City capital program, excluding $737 million planned to be issued for education purposes through Building Aid Revenue Bonds (BARB). The portion of the capital program not financed by the New York City Municipal Water Finance Authority (NYW or the Authority) will be split between General Obligation (GO) bonds of the City and Future Tax Secured (FTS) bonds of the New York City Transitional Finance Authority (TFA). Given the TFA is near its statutory limit on BARB debt outstanding, the financing program reflects BARB issuance so as to remain under the limit.
          p.
            The financing of the City capital program is split among GO, TFA FTS, NYW, and TFA BARB bond issuance. The City and TFA FTS expect to issue $20.7 billion and $23.9 billion, respectively, during the plan period. The City issuance supports 39 percent of the total, while TFA FTS issuance supports 45 percent of the total. NYW will issue approximately $8.7 billion.



        section#section-2
          h2 Overview of the Financing Program
          p. 
            The following three tables show statistical information on debt issued and expected to be issued by the financing entities described above, other than BARBs to be issued by the TFA.
          p. 

    article.chart
      h2 2019–2023 Debt Outstanding
      p.subchart ($ in millions at year end)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
              tr
                td City General Obligation Bonds
                td $$37,519  
                td $39,341
                td $41,809 
                td $44,750 
                td $47,749
              tr
                td TFA Bonds (1)
                td 38,513 
                td 41,158  
                td 44,264 
                td 47,900
                td 51,659
              tr
                td TSASC Bonds
                td 1,053 
                td 1,023
                td 993
                td 966
                td 938
              tr
                td Conduit Debt
                td 1,116 
                td 1,057
                td 994
                td 928
                td 837
              tr
                td Total
                td.total $78,201 
                td.total $82,579 
                td.total $88,060 
                td.total $94,544 
                td.total $101,183
              tr.separate
                td Water Authority Bonds
                td $30,118 
                td $31,580 
                td $32,832  
                td $34,137
                td $35,686

      p.chartpost (1) Figures above do not include state funded financing for education capital purposes through the TFA BARBs.

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section#section-3
          p.
            The financing of the City capital program is split among GO, TFA FTS and NYW bond issuance. The City and TFA expect to issue $19.4 billion and $20.4 billion, respectively, during the plan period. The City issuance supports 40 percent of the total, while TFA FTS issuance supports 42 percent of the total. NYW will issue, excluding refundings, approximately $8.9 billion.
          p.
            The City, TFA, and NYW have enjoyed continued strong investor demand which has allowed the City capital program to be financed at reasonable interest rates. All of the issuers financing the City capital program have maintained credit ratings in the AA category or better by Moody&#8217;s, Standard & Poor&#8217;s, and Fitch, as indicated in the table above.
            
          p.continue
            a(href='/financing_nycgob.html') <strong>Continue to Financing 2:</strong> New York City General Obligation Bonds
