extends /_layouts/_financing.pug
block content
  article.content-article
    div.content-container
      aside.content-sidebar
        h2 Financing
        nav.internal-nav
          ol
              li.selected
                a(href='/financing_program.html') Overview
              li
                a(href='/financing_nycgob.html') New York City General Obligation Bonds
              li
                a(href='/financing_variableratedebt.html') Variable Rate Debt
              li
                a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
              li
                a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
              li
                a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
        h3 Disclaimer
        p.body-disclaimer.
          The Ten-Year Capital Strategy reflects a broad, long term vision of the City’s capital plan as of the Fiscal Year 2020 Executive Budget.
          The Ten-Year Capital Strategy is separate and distinct from the City’s adopted Capital Budget and four-year Capital Commitment Plan, which,
          due to the passage of time and other factors, reflect changes from the Ten-Year Capital Strategy. These documents are available on the
          <a href="https://www1.nyc.gov/site/omb/index.page">Office of Management and Budget’s website</a>.

                
      article.content-body
        section#section-1
          h1 Financing Program
          p.
            The City financing program projects $53.3 billion of longterm borrowing for the period fiscal years 2019 through 2023 to support the current City capital program, excluding $737 million planned to be issued for education purposes through Building Aid Revenue Bonds (BARB). The portion of the capital program not financed by the New York City Municipal Water Finance Authority (NYW or the Authority) will be split between General Obligation (GO) bonds of the City and Future Tax Secured (FTS) bonds of the New York City Transitional Finance Authority (TFA). Given the TFA is near its statutory limit on BARB debt outstanding, the financing program reflects BARB issuance so as to remain under the limit.
          p.
            The financing of the City capital program is split among GO, TFA FTS, NYW, and TFA BARB bond issuance. The City and TFA FTS expect to issue $20.7 billion and $23.9 billion, respectively, during the plan period. The City issuance supports 39 percent of the total, while TFA FTS issuance supports 45 percent of the total. NYW will issue approximately $8.7 billion.
  
    article.chart
      h2 2019–2023 Financing Program
      p.subchart ($ in millions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th Total
              tr
                td City General Obligation Bonds
                td $1,200 
                td $4,040 
                td $4,650 
                td $5,280 
                td $5,500 
                td $20,670 
              tr
                td TFA Bonds (1)
                td 4,475 
                td 4,040  
                td 4,650   
                td 5,280 
                td 5,500
                td 23,945
              tr
                td Water Authority Bonds (2)
                td 1,447 
                td 1,852 
                td 1,667 
                td 1,752 
                td 1,993 
                td 8,711
              tr
                td Total
                td.total $7,122 
                td.total $9,932 
                td.total $10,967 
                td.total $12,312 
                td.total $12,993 
                td.total $53,326

      p.chartpost (1) TFA Bonds do not include BARBs issued for education capital purposes. TFA expects to continue to issue BARBs under the current legislative authorization. For amounts, see the Transitional Finance Authority section below. (2) Includes commercial paper and revenue bonds issued for the water and sewer system’s capital program. Figures do not include bonds that defease commercial paper or refunding bonds. Does not include bonds to fund reserves or cost of issuance.

    div.content-container
      div.grid-2
        span &nbsp;
      article.content-body
        section#section-2
          h2 Overview of the Financing Program
          p. 
            The following three tables show statistical information on debt issued and expected to be issued by the financing entities described above, other than BARBs to be issued by the TFA.

    article.chart
      h2 2019–2023 Debt Outstanding
      p.subchart ($ in millions at year end)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
              tr
                td City General Obligation Bonds
                td $$37,519  
                td $39,341
                td $41,809 
                td $44,750 
                td $47,749
              tr
                td TFA Bonds (1)
                td 38,513 
                td 41,158  
                td 44,264 
                td 47,900
                td 51,659
              tr
                td TSASC Bonds
                td 1,053 
                td 1,023
                td 993
                td 966
                td 938
              tr
                td Conduit Debt
                td 1,116 
                td 1,057
                td 994
                td 928
                td 837
              tr
                td Total
                td.total $78,201 
                td.total $82,579 
                td.total $88,060 
                td.total $94,544 
                td.total $101,183
              tr.separate
                td Water Authority Bonds
                td $30,118 
                td $31,580 
                td $32,832  
                td $34,137
                td $35,686

      p.chartpost (1) Figures above do not include state funded financing for education capital purposes through the TFA BARBs.

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section#section-3

    article.chart
      h2 2019–2023 Annual Debt Service Costs
      p.subchart ($ in millions, before prepayments)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
              tr
                td City General Obligation Bonds
                td $3,775 
                td $4,082 
                td $4,191 
                td $4,524 
                td $4,886 
              tr
                td TFA Bonds (1)
                td 2,733   
                td 3,031 
                td 3,308 
                td 3,666
                td 4,038
              tr
                td TSASC Bonds
                td 72 
                td 82
                td 82
                td 76
                td 76
              tr
                td Conduit Debt
                td 122 
                td 126
                td 126
                td 126
                td 147
              tr
                td Total
                td.total $6,702 
                td.total $7,321 
                td.total $7,707 
                td.total $8,392 
                td.total $9,147
              tr.separate
                td Water Authority Bonds (2)
                td $1,651 
                td $1,845 
                td $1,956  
                td $2,077 
                td $2,184

      p.chartpost (1) Figures above do not include state funded financing for education capital purposes through the TFA BARBs. (2) Includes First Resolution debt service and Second Resolution debt service net of subsidy payments from the NYS Environmental Facilities Corporation

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section#section-3

    article.chart
      h2 2019–2023 Debt Burden

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
              tr
                td Total Debt Service(1) as % of: (a) Total Revenue
                td 7.1%  
                td 7.8% 
                td 8.1% 
                td 8.6%
                td 9.1%
              tr
                td Total Debt Service(1) as % of: (a) Total Taxes
                td 10.9% 
                td 11.5% 
                td 11.7% 
                td 12.4%
                td 13.1%
              tr
                td Total Debt Service(1) as % of: (a) Total NYC Personal Income
                td 1.0% 
                td 1.1%
                td 1.1%
                td 1.2%
                td 1.2%
              tr
                td Total Debt Outstanding1 as % of: (a) Total NYC Personal Income
                td 11.9%  
                td 12.1%
                td 12.5%
                td 13.0%
                td 13.5%
      p.chartpost (1) Total Debt Service and Debt Outstanding include GO, conduit debt and TFA bonds other than BARBs.

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section#section-3      
          
          p.
            Currently the debt service for the City, TFA FTS, and City appropriation debt, or conduit debt, excluding the effect of prepayments, is 7.1 percent of the City’s total budgeted revenues in fiscal year 2019. That ratio is projected to rise to 9.1 percent in fiscal year 2023. As a percentage of tax revenues, the debt service ratio is 10.9 percent in fiscal year 2019 and is projected to increase to 13.1 percent in fiscal year 2023.
          p.
            The City, TFA, and NYW have enjoyed continued strong investor demand which has allowed the City capital program to be financed at reasonable interest rates. On March 1, 2019, Moody’s upgraded the City’s credit rating from Aa2 to Aa1. All of the issuers financing the City capital program have maintained credit ratings in the AA category or better by Moody’s, Standard & Poor’s, and Fitch, as indicated in the table below
  
    article.chart
      h2 Ratings

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Issuer
                th Moody's  
                th Standards and Poor's
                th Fitch
              tr
                td NYC GO
                td Aa1 AA AA
                td AA
                td AA 
              tr
                td TFA Senior
                td Aaa 
                td AAA 
                td AAA
              tr
                td TFA Subordinate 
                td Aa1
                td AAA
                td AAA
              tr
                td TFA BARBs 
                td Aa2
                td AA
                td AA
              tr
                td NYW First Resolution 
                td Aa1 
                td AAA
                td AA+
              tr
                td NYW Second Resolution 
                td Aa1 
                td AA+
                td AA+
              tr
                td NEFC Senior SRF Bonds 
                td Aaa 
                td AAA
                td AAA
              tr
                td EFC Subordinated SRF Bonds
                td Aaa 
                td AAA
                td AAA

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section#section-3          
          
          h2 Federal Tax Legislation
          p.
            The enactment of the Tax Cut and Jobs Act in December 2017 (2017 Tax Act) brought changes in the tax code that affect the City’s financing program. Most notably, issuers of tax-exempt debt are now prohibited from refinancing their debt on a taxexempt basis more than 90 days from the maturity or optional redemption date of such debt. However, it will continue to be possible to refinance debt more than 90 days from the maturity or optional redemption date on a taxable basis. Since the enactment of the 2017 Tax Act, the City, TFA, and NYW have undertaken a number of refunding transactions, which are discussed below. 
          p.
            While the limitation on refinancing mentioned above impacts the supply of tax-exempt debt, other elements of the 2017 Tax Act also impact the demand for tax-exempt debt. The small decreases in top marginal tax rates for individuals should negatively impact demand for tax-exempt debt. However, the new caps in deductions for state and local taxes should have the opposite effect, mitigating the negative impact of lower marginal tax rates. The impact of this legislation is still developing.
          
          p.continue
            a(href='/financing_nycgob.html') <strong>Continue to Financing 2:</strong> New York City General Obligation Bonds
