extends /_layouts/_financing.pug
block content
  article.content-article
    aside.content-sidebar
      nav.internal-nav
        ol
            li
              a(href='/financing_program.html') Overview
            li
              a(href='/financing_nycgob.html') New York City General Obligation Bonds
            li
              a(href='/financing_variableratedebt.html') Variable Rate Debt
            li.selected
              a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
            li
              a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
            li
              a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
              
    article.content-body
      section#section-1
        h1 The New York City Municipal Water Finance Authority
        p.
          The New York City Municipal Water Finance Authority (NYW) was created in 1985 to finance capital improvements to the City’s water and sewer system. Since its first bond sale in November 1985, the Authority has sold $63.1 billion in bonds. These bond issuances included a combination of general (first) resolution, second general resolution and subordinated special resolution crossover refunding water and sewer system revenue bonds. 
        p.
          Of the aggregate bond par amount sold, $30.8 billion is outstanding, $23.7 billion was refinanced with lower cost debt, $3.5 billion was defeased with Authority funds prior to maturity, and $5.1 billion was retired with revenues as it matured. In addition to this long-term debt, NYW uses a $600 million taxexempt commercial paper program and bond anticipation notes (BANs) issued to the New York State Environmental Facilities Corporation (EFC) as a source of flexible short-term financing. As of April 13, 2017, $209 million of BAN draws are outstanding. The commercial paper includes $400 million of unenhanced extendible municipal commercial paper (EMCP) notes and $200 million of notes backed by a line of credit from a bank. 
        p.
          The City has not entered into any new interest rate swaps to date in fiscal year 2017. The total notional amount of swaps outstanding as of March 31, 2017 was $1.28 billion, on which the termination value was negative $86.9 million. This is the theoretical amount which the City would pay if all of the swaps terminated under market conditions as of March 31, 2017.
        p.
          The City has not entered into any new interest rate swaps to date in fiscal year 2017. The total notional amount of swaps outstanding as of March 31, 2017 was $1.28 billion, on which the termination value was negative $86.9 million. This is the theoretical amount which the City would pay if all of the swaps terminated under market conditions as of March 31, 2017.
        p.
          The following table shows the City’s and its related issuers’ floating rate exposure. Floating rate exposure is of note because certain events can cause unexpected increased costs. Those events would include rising interest rates, a change in the tax code (in the case of tax-exempt debt), and the deterioration of the City’s credit. Additionally, the deterioration of the credit of a related credit or liquidity provider can also have an impact on interest costs. By contrast, the cost of outstanding fixed rate debt does not increase if any of the previously mentioned events takes place. On the other hand, fixed rate borrowing locks in a higher borrowing cost if interest rates do not change materially or if they decline. Overall, floating rate exposure benefits the City because it reduces the cost of financing. In short, interest costs on short term debt are almost always lower than long term debt. The City has assumed floating rate exposure using a variety of instruments including tax exempt floating rate debt, taxable floating rate debt, basis swaps, and certain types of synthetic fixed rate debt. The basis swaps and certain synthetic fixed rate debt provide exposure to changes in the tax code but are largely insensitive to changes in interest rates and changes in the City’s credit. Given that those instruments provide only limited floating rate exposure, they are counted as variable rate exposure at less than the full amount of par or notional amount. Instruments that provide exposure only to changes in the tax code are counted at 25 percent of par or notional amount in the table below.
        p. 
          CHART HERE
        p. 
          The 15 percent floating rate exposure, including the risk from the synthetic fixed rate swaps and the basis swaps, is even more manageable after taking into account the 10 year average balance of $6.9 billion of short-term assets in the City’s General Fund which are an offset to these floating rate liabilities. Net of these floating rate assets, the floating rate exposure of the City, excluding NYW, is 5.5 percent of its outstanding debt. Moreover, the City uses conservative assumptions in budgeting expenses from floating rate instruments.
        p. 
          During fiscal year 2017, short-term interest rates relating to floating rate debt have been 0.66 percent on average for taxexempt and 1.01 percent for taxable floating rate debt. These rates have continued to provide extremely attractive financing costs relative to fixed rate debt. Tax exempt floating rate debt has traded recently at rates that are approximately 270 basis points lower than those for long term fixed-rate debt, resulting in an annual savings of over $290 million.
     