extends /_layouts/_financing.pug
block content
  article.content-article
    div.content-container
      aside.content-sidebar
        h2 Financing
        nav.internal-nav
          ol
              li
                a(href='/financing_program.html') Overview
              li
                a(href='/financing_nycgob.html') New York City General Obligation Bonds
              li.selected
                a(href='/financing_variableratedebt.html') Variable Rate Debt
              li
                a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
              li
                a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
              li
                a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
                
      article.content-body
        section#section-1
          h1 Variable Rate Debt
          p.
            The City and other issuers supporting the City capital program have maintained floating rate exposure to minimize interest costs. When reviewing the City’s variable rate debt, it is useful to include all sources of financing with the exception of NYW, which is typically considered separately for such purposes. Variable rate demand bonds compose the majority of the City’s variable rate portfolio, but also included are direct placements and public offerings of index floating rate notes. The City and TFA continue to explore various debt instruments that will confer the benefit of floating rates. Currently, the City and its related entities, excluding NYW, have approximately $10.4 billion of floating rate exposure, which provides attractive financing costs relative to long term fixed-rate debt. During fiscal year 2019, short-term interest rates have been 1.57 percent on average for tax-exempt floating rate debt, which is approximately 170 basis points lower than those for long term fixed-rate debt, resulting in an annual savings of over $175 million.
          p.
            While floating rate debt continues to provide significant savings relative to fixed-rate debt, the exposure is of note because certain events can cause unexpected increased costs. Those events would include rising interest rates, reductions in tax rates in the tax code (in the case of tax-exempt debt), and the deterioration of the City’s credit. Additionally, the deterioration of a liquidity provider can also have an impact on net interest costs. As noted previously, because the small reduction in the individual tax rates is mitigated by new caps on certain tax deductions, the 2017 Tax Act should not result in a significant adverse impact on taxexempt short-term rates, which influence interest paid on floating rate bonds and the economics on swap transactions to which the City is a party.
          p.
            The following table shows a breakout of the City’s and its related issuers’ floating rate exposure, excluding NYW. Floating rate exposure is currently at 13.3 percent, and this is even more manageable after taking into account the 10 year average balance of $7.2 billion of short-term assets in the City’s General Fund, which are an offset to these floating rate liabilities. Net of these floating rate assets, the floating rate exposure of the City, excluding NYW, is 4.1 percent of its outstanding debt. Moreover, the City uses conservative assumptions in budgeting expenses from floating rate instruments.
  
    article.chart
      h2 NYC Floating-Rate Exposure (1)
      p.subchart ($ in millions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th GO
                th TFA
                th Conduit
                th TSASC
                th Total
              tr
                td Floating Rate Bonds
                td $5,729 
                td $4,444
                td $30
                td $0
                td 10,203
              tr
                td Synthetic Fixed
                td 150 
                td 0
                td 31
                td 0
                td 181
              tr
                td.total Total Floating-Rate
                td.total $5,879 
                td.total $4,444
                td.total $61
                td.total $0
                td.total $10,384
              tr.empty
                td
                td
                td
                td
                td
                td
              tr
                td Total Debt Outstanding
                td $37,519 
                td $38,513
                td $1,116
                td $1,053
                td $78,201
              tr
                td &nbsp; % of Floating-Rate / Total Debt Outstanding
                td
                td
                td 13.3%
                td
                td
              tr.empty
                td
                td
                td
                td
                td
                td
              tr
                td &nbsp; Total Floating-Rate Less $6.9 Billion Balance in General Fund (Floating-Rate Assets)
                td
                td
                td  3,196 
                td
                td
              tr
                td &nbsp; % of Net Floating Rate / Total Debt Outstanding
                td
                td
                td 4.1%
                td
                td

      p.chartpost (1) End of Fiscal Year 2019 Debt Outstanding as of the April 2019 Financial Plan excluding NYW, HYIC, and TFA BARBs

    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
        section
          p. 
            In addition to the floating rate debt instruments previously discussed, the City has utilized basis swaps and synthetic fixed rate debt (issuance of floating rate debt which is then swapped to a fixed rate), though no basis swaps remain outstanding at this time. In contrast to variable rate demand bonds and other floating rate instruments, basis swaps and synthetic fixed rate debt are largely insensitive to changes in interest rates and changes in the City’s credit, though they do provide exposure to decreases in marginal tax rates in the tax code. Given the limited floating rate exposure by these instruments, they are counted at 25 percent of par or notional amount in the table above. While the City did not enter into any new interest rate swaps to date in fiscal year 2019, the City did terminate a basis swap at no cost in March 2019. The TFA has no outstanding swaps. The total notional amount of GO swaps outstanding as of March 31, 2019 was $599 million, on which the termination value was negative $53.7 million. This is the theoretical amount which the City would pay if all of the swaps terminated under market conditions as of March 31, 2019. 
          p. 
            Recently, it has become apparent that the quotes to set the London Inter-bank Offered Rate (LIBOR) may not be provided following the end of calendar year 2021. LIBOR is a taxable index to which a percentage is applied to approximate a tax-exempt rate, so the discontinuation of this rate will impact floating rate instruments indexed to it. Because the tax-exempt index SIFMA has been the City’s preferred index, the City and TFA have no floating rate debt instruments linked to LIBOR, while NYW has only a small amount of such debt. For all outstanding swaps between GO and NYW, the payments received are based on a percentage of LIBOR; these swaps are scheduled to still be in effect after 2021. Relative to their total debt portfolios, the City and its related issuers have very limited exposure to LIBOR. The City and its related issuers are monitoring all developments related to the LIBOR discontinuation and transition to an alternative index, which is currently expected to be the Secured Overnight Financing Rate (SOFR) developed by the Federal Reserve.
            
          p.continue
            a(href='/financing_municipal_water.html') <strong>Continue to Financing 4:</strong> The New York City Municipal Water Finance Authority
