extends /_layouts/_financing.pug
block content
  article.content-article
    aside.content-sidebar
      nav.internal-nav
        ol
            li
              a(href='/financing_program.html') Overview
            li
              a(href='/financing_nycgob.html') New York City General Obligation Bonds
            li
              a(href='/financing_variableratedebt.html') Variable Rate Debt
            li
              a(href='/financing_municipal_water.html') The New York City Municipal Water Finance Authority
            li.selected
              a(href='/financing_transitional_finance_authority.html') The New York City Transitional Finance Authority
            li
              a(href='/financing_hudson_yards.html') Hudson Yards Infrastructure Corporation
              
    article.content-body
      section#section-1
        h1 The New York City Transitional Finance Authority
        p.
          The TFA is a public authority of New York State created by the New York Transitional Finance Authority Act. The TFA was created to issue debt, primarily secured with the City’s personal income tax, to fund a portion of the capital program of the City. The TFA was originally authorized to issue up to $7.5 billion of bonds and notes. On September 13, 2001, the TFA was given statutory authority to borrow $2.5 billion to finance costs related to the September 11th terrorist attack on the City. Currently, TFA is permitted to have $13.5 billion of debt outstanding and any amounts over and above that level are subject to the City’s remaining debt incurring power under the State constitutional debt limit.
        p.
          Since July l, 2016, the TFA has issued approximately $800 million in refunding bonds and $3.3 billion in bonds for capital purposes. The dates and principal amounts are as follows:

    article.chart
      h2 NYC TFA Issuance

      p.chartpost ($ in millions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Series
                th New $/ Refunding
                th Issue Date
                th Tax Exempt Ammount
                th Taxable Amount
                th Total Par Amount
              tr
                td 2017 A
                td N
                td 7/28/2016
                td $800
                td $250
                td $1,050
              tr
                td 2017 B
                td N
                td 9/22/2016
                td 900
                td 250
                td 1,150
              tr
                td 2017 CD
                td R
                td 3/22/2017
                td 795
                td 0
                td 795
              tr
                td 2017 E
                td N
                td 4/19/2017
                td 800
                td 300
                td 1,100
              tr
                td.total Total
                td.total
                td.total
                td.total $3,295
                td.total $800
                td.total $4,095

    div.grid-3
      span &nbsp;
    article.content-body
      section
        p.
          The $800 million refunding transaction the TFA completed during fiscal year 2017 generated approximately $84 million of debt service savings during the financial plan period.
        p.
          Additionally, the TFA converted approximately $40 million of floating rate bonds to a fixed rate mode.
        p.
          Beyond the financings described above, the TFA plans to issue TFA FTS bonds for capital purposes of approximately $3.3 billion, $4.5 billion, $4.7 billion and $4.6 billion in years 2018 through 2021, respectively.
        p.
          In April 2006, the State enacted legislation authorizing issuance by the TFA of an additional $9.4 billion of bonds to be used to fund capital costs for the Department of Education. This legislation also provided for the assignment to TFA of State building aid that had previously been paid directly to the City. The TFA currently has approximately $7.9 billion of BARBs outstanding which fund the capital program of the Department of Education. The financing program reflects BARB issuance projections to remain under the statutory cap. The TFA plans to issue BARBs of approximately $750 million, $163 million, $77 million, and $295 million in fiscal years 2018 through 2021, respectively. The reduction of BARB issuance is offset by an increase in GO and TFA FTS bond issuance.
        