extends /_layouts/_financing.pug
block content
  article.content-article
    aside.content-sidebar
      nav.internal-nav
        ol
            li.selected
              a(href='#') Overview
            li
              a(href='#') New York City General Obligation Bonds
            li
              a(href='#') Variable Rate Debt
            li
              a(href='#') The New York City Municipal Water Finance Authority
            li
              a(href='#') The New York City Transitional Finance Authority
            li
              a(href='#') Hudson Yards Infrastructure Corporation
              
    article.content-body
      section#section-1
        h1 Financing Program
        p.
           The City financing program projects $48.6 billion of long-term borrowing for the period fi scal years 2017 through 2021 to support the City current capital program. The portion of the capital program not fi nanced by the New York City Municipal Water Finance Authority (NYW or the Authority) will be split between General Obligation (GO) bonds of the City and Future Tax Secured (FTS) bonds of the New York City Transitional Finance Authority (TFA).
        p.
          Given the TFA is approaching its statutory limit on Building Aid Revenue Bonds (BARB) debt outstanding, the financing program refl ects BARB issuance so as to remain under the limit. Figures below do not include state funded financing for education capital purposes through BARBs:



      section#section-2
        h2 Overview of the Financing Program
        p. 
          The following three tables show statistical information on debt issued and expected to be issued by the financing entities described above, other than BARBs to be issued by the TFA.
        p. 

    article.chart
      h2 2017–2021 Debt Outstanding
      p.subchart ($ in millions at year end)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th 2017
                th 2018
                th 2019
                th 2020
                th 2021
              tr
                td City General Obligation Bonds
                td $38,020
                td $39,076
                td $41,413
                td $43,801
                td $46,048
              tr
                td TFA Bonds (1)
                td 31,714
                td 33,984
                td 37,155
                td 40,529
                td 43,667
              tr
                td TSASC Bonds
                td 1,090
                td 1,071
                td 1,053
                td 1,023
                td 993
              tr
                td Conduit Debt
                td 1,365
                td 1,284
                td 1,206
                td 1,121
                td 1,033
              tr
                td Total
                td.total $72,189
                td.total $75,415
                td.total $80,827
                td.total $86,474
                td.total $91,741
              tr.separate
                td Water Authority Bonds
                td $30,930
                td $32,240
                td $33,783
                td $35,313
                td $36,798

      p.chartpost (1) Figures above do not include state funded financing for education capital purposes through the TFA BARBs.

    div.grid-3
      span &nbsp;
    article.content-body
      section#section-3
        p.
          The financing of the City capital program is split among GO, TFA FTS and NYW bond issuance. The City and TFA expect to issue $19.4 billion and $20.4 billion, respectively, during the plan period. The City issuance supports 40 percent of the total, while TFA FTS issuance supports 42 percent of the total. NYW will issue, excluding refundings, approximately $8.9 billion.
        p.
          The City, TFA, and NYW have enjoyed continued strong investor demand which has allowed the City capital program to be fi nanced at reasonable interest rates. All of the issuers financing the City capital program have maintained credit ratings in the AA category or better by Moody’s, Standard & Poor’s, and Fitch, as indicated in the table below.