extends /_layouts/_financing.pug
block content
  article.content-article
    aside.content-sidebar
      nav.internal-nav
        ol
            li
              a(href='#') Overview
            li
              a(href='#') New York City General Obligation Bonds
            li.selected
              a(href='#') Variable Rate Debt
            li
              a(href='#') The New York City Municipal Water Finance Authority
            li
              a(href='#') The New York City Transitional Finance Authority
            li
              a(href='#') Hudson Yards Infrastructure Corporation
              
    article.content-body
      section#section-1
        h1 Variable Rate Debt
        p.
          Floating rate bonds have been a reliable source of cost savings in the City fi nancing program. In considering the proportion of the City’s debt which is in variable rather than fi xed rates, it is useful to consider all sources of fi nancing with the exception of NYW, which is typically considered separately for such purposes. Included would be not only City GO bonds but also TFA FTS, TSASC bonds and conduit debt. The City and its related entities have approximately $10.9 billion of fl oating rate exposure.
        p.
          ave approximately $10.9 billion of fl oating rate exposure. Despite changes in the fl oating rate market, the City and other issuers supporting the City capital program have maintained fl oating rate exposure to minimize interest costs. The City and related fi nancing entities have managed bank facility expirations by obtaining renewals from existing providers or replacement facilities from new providers. In addition, the City and related fi nancing entities have explored new fl oating rate structures not requiring bank facilities. The City and TFA entered into private placements and public offerings of index fl oating rate bonds bearing all-in costs comparable to variable rate demand bonds with bank facilities. The City and TFA continue to explore these and other debt instruments which confer the benefi t of fl oating rate exposure. 
        p.
          The City has not entered into any new interest rate swaps to date in fi scal year 2017. The total notional amount of swaps outstanding as of March 31, 2017 was $1.28 billion, on which the termination value was negative $86.9 million. This is the theoretical amount which the City would pay if all of the swaps terminated under market conditions as of March 31, 2017.
        p.
          The following table shows the City’s and its related issuers’ fl oating rate exposure. Floating rate exposure is of note because certain events can cause unexpected increased costs. Those events would include rising interest rates, a change in the tax code (in the case of tax-exempt debt), and the deterioration of the City’s credit. Additionally, the deterioration of the credit of a related credit or liquidity provider can also have an impact on interest costs. By contrast, the cost of outstanding fi xed rate debt does not increase if any of the previously mentioned events takes place. On the other hand, fi xed rate borrowing locks in a higher borrowing cost if interest rates do not change materially or if they decline. Overall, fl oating rate exposure benefi ts the City because it reduces the cost of fi nancing. In short, interest costs on short term debt are almost always lower than long term debt. The City has assumed fl oating rate exposure using a variety of instruments including tax exempt fl oating rate debt, taxable fl oating rate debt, basis swaps, and certain types of synthetic fi xed rate debt. The basis swaps and certain synthetic fi xed rate debt provide exposure to changes in the tax code but are largely insensitive to changes in interest rates and changes in the City’s credit. Given that those instruments provide only limited fl oating rate exposure, they are counted as variable rate exposure at less than the full amount of par or notional amount. Instruments that provide exposure only to changes in the tax code are counted at 25 percent of par or notional amount in the table below.
        p. 
  
    article.chart
      h2 NYC Floating-Rate Exposure (1)
      p.subchart ($ in millions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th &nbsp;
                th GO
                th TFA
                th Conduit
                th TSASC
                th Total
              tr
                td Floating Rate Bonds
                td $6,252
                td $4,224
                td $30
                td $0
                td 10,506
              tr
                td Synthetic Fixed
                td 191
                td 0
                td 31
                td 0
                td 222
              tr
                td Enhanced Basis Swap
                td 125
                td 0
                td 0
                td 0
                td 125
              tr
                td.total Total Floating-Rate
                td.total $6,568
                td.total $4,224
                td.total $61
                td.total $0
                td.total $10,853
              tr.empty
                td
                td
                td
                td
                td
                td
              tr
                td Total Debt Outstanding
                td $38,020
                td $31,714
                td $1,365
                td $1,090
                td $72,189
              tr
                td &nbsp; % of Floating-Rate / Total Debt Outstanding
                td
                td
                td 15.0%
                td
                td
              tr.empty
                td
                td
                td
                td
                td
                td
              tr
                td &nbsp; Total Floating-Rate Less $6.9 Billion Balance in General Fund (Floating-Rate Assets)
                td
                td
                td 3,954
                td
                td
              tr
                td &nbsp; % of Net Floating Rate / Total Debt Outstanding
                td
                td
                td 5.5%
                td
                td

      p.chartpost (1) Figures above do not include state funded financing for education capital purposes through the TFA BARBs.

    div.grid-3
      span &nbsp;
    article.content-body
      section
        p. 
          The 15 percent fl oating rate exposure, including the risk from the synthetic fi xed rate swaps and the basis swaps, is even more manageable after taking into account the 10 year average balance of $6.9 billion of short-term assets in the City’s General Fund which are an offset to these fl oating rate liabilities. Net of these fl oating rate assets, the fl oating rate exposure of the City, excluding NYW, is 5.5 percent of its outstanding debt. Moreover, the City uses conservative assumptions in budgeting expenses from fl oating rate instruments.
        p. 
          During fi scal year 2017, short-term interest rates relating to fl oating rate debt have been 0.66 percent on average for taxexempt and 1.01 percent for taxable fl oating rate debt. These rates have continued to provide extremely attractive fi nancing costs relative to fi xed rate debt. Tax exempt fl oating rate debt has traded recently at rates that are approximately 270 basis points lower than those for long term fi xed-rate debt, resulting in an annual savings of over $290 million.
