extends /_layouts/_main.pug

block content
  article.content-artice
    section.subheader
      div.topcontainer
        div.messagetop
          div.messagetop-left
          div.messagemiddle
          div.messagetop-right
      div.submessage
        p The Ten-Year Capital Strategy defines the City of New York&#8217;s long-term vision to invest $95.85 billion over the next decade to improve infrastructure, buildings, and neighborhoods across the five boroughs. In enabling City agencies to develop responsible, forward-looking programs to build a more resilient future for all New Yorkers, the Capital Strategy is guided by two principles:
        p.principles
          a(href='#') 1. Advance neighborhood-based capital planning
        p.principles 
          a(href='#') 2. Maintain New York City's financial responsibility
    article.content-body.index-body
      div.grid-1
        span &nbsp;
      section#section-1
        h2 The City of New York will create real change over the next ten years.
        p.
          New Yorkers can expect visible improvements in schools, transit, parks, and more. Below are just some of the outcomes we’ll achieve with investments in our six priority areas.

        div.improvements.improvements-1
          h3 Section 2
          p.
            Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.

      div.clear
      div.grid-1
        span &nbsp;
      section#section-2
      div.clear
      div.grid-1
        span &nbsp;
      section#section-3
        h2 Section 3
        p.
          #[em Italicized body copy sit amet,] consectetur adipiscing elit, eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        ol
          li ol item 1
          li ol item 2
          li ol item 3
          li ol item 4
          li ol item 5
          li ol item 6
        p.
          Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        blockquote
          p.
            This is a block quote describing something. Lorum ipsum
            dolor sit amet consectetur adipiscing elit, eiusmod tempor
            incididunt.
          cite Quoted frome somebody
        small.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
