extends /_layouts/_index.pug

block content
  article.content-artice
    section.subheader
      div.messagetop
      div.submessage
        h1 <b> Four guiding principles are used by NYC capital agencies when developing their long-term investment and planning strategies </b>
        //- h3 The Ten-Year Capital Strategy defines the City of New York&#8217;s vision to improve our infrastructure, buildings, and neighborhoods across the five boroughs. It reflects each City agency's long-term goals, defines our citywide investment priorities, and is guided by four principles:
        p.more-info
          a(href='/principle_maintain_new_york_citys_financial_responsibility.html') 1. Maintain New York City's financial responsibility
        p.more-info
          a(href='/principle_planning_for_growth.html') 2. Promote forward-looking, holistic capital planning that anticipates neighbhorhood needs of tomorrow
        p.more-info
          a(href='/principle_advance_neighborhood_based_capital_planning.html') 3. Advance a more equitable NYC through supportive capital investment
        p.more-info
          a(href='/principle_community_perspectives.html') 4. Consider community perspectives in capital planning and decision making
    article.content-body.index-body
      div.grid-1
        span &nbsp;
      section#section-1.partial-page
        h2 NYC&#8217;s Capital Strategy will catalyze real progress across six investment priorities.
        p.
          New Yorkers can expect visible improvements in schools, transit, parks, and more. Below are just some of the outcomes we&#8217;re working toward.

      section#section-2.full-page
        div.improvements
          div.improvement
            a(href="/priority_maintain_our_infrastructure.html")
              div.top-half.improvements-buildings
              div.bottom-half.top-margin
                p.more-info Priority 1: Maintain and modernize our infrastructure to ensure a state of good repair
          div.improvement
            a(href="/priority_support_growth_and_preserve_affordability.html")
              div.top-half.improvements-parks
              div.bottom-half
                p.more-info Priority 2: Support growth and preserve affordability in our diverse neighborhoods
          div.improvement
            a(href="/priority_expand_access_to_education_and_economic_opportunity.html")
              div.top-half.improvements-schools
              div.bottom-half
                p.more-info Priority 3: Expand access to education and economic opportunity   
          div.improvement
            a(href="/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html")
              div.top-half.improvements-paths
              div.bottom-half
                p.more-info Priority 4: Address citywide resiliency goals, and restore and protect our waterfront     
          div.improvement
            a(href="/priority_build_stronger_connections_between_our_communities.html")
              div.top-half.improvements-ferries
              div.bottom-half
                p.more-info Priority 5: Build stronger connections between our communities
          div.improvement
            a(href="/priority_promote_the_health_and_safety_of_all_new_yorkers.html")
              div.top-half.improvements-shelters
              div.bottom-half
                p.more-info Priority 6: Promote the health and safety of all New Yorkers   
          div.clear

        p.more-info
          a(href='/priority_maintain_our_infrastructure.html') Learn more about our six priorities

      div.clear

      section.datavis
        div.grid-1
          span &nbsp;
        section.partial-page
          h2 Where our investments are going
          p.
            Explore breakdowns of how and where the City of New York is investing to improve neighborhoods, sevices and infrastructure.

        div.investmentfilters
          button.investmentfilter.agency.selected Agency
          button.investmentfilter.lifecycle Lifecycle
          button.investmentfilter.service Service
          button.investmentfilter.source Source

        h3.category
        div.back-agencies
        div.back-services
        div.back-lifecycle

        ul#infrastructure

        p.more-info
          a(href='https://www1.nyc.gov/assets/omb/downloads/pdf/typ4-19.pdf') Learn more about our agency plans
