extends /_layouts/_index.pug

block content
  article.content-artice
    section.subheader
      div.messagetop
      div.submessage
        p The Ten-Year Capital Strategy defines the City of New York&#8217;s vision to improve our infrastructure, buildings, and neighborhoods across the five boroughs. It reflects each City agency's long-term goals, defines our citywide investment priorities, and is guided by two principles:
        p.more-info
          a(href='/principle_advance_neighborhood_based_capital_planning.html') 1. Advance neighborhood-based capital planning
        p.more-info 
          a(href='/principle_maintain_new_york_citys_financial_responsibility.html') 2. Maintain New York City's financial responsibility
    article.content-body.index-body
      div.grid-1
        span &nbsp;
      section#section-1.partial-page
        h2 NYC&#8217;s Capital Strategy will catalyze real progress across six investment priorities.
        p.
          New Yorkers can expect visible improvements in schools, transit, parks, and more. Below are just some of the outcomes we&#8217;re working toward.

      section#section-2.full-page
        div.improvements
          div.improvement
            div.top-half.improvements-buildings
            div.bottom-half
              h3 <span class="title-highlight">Completing the Brooklyn-Queens leg</span> of City Water Tunnel #3
              p.more-info
                a(href="/priority_maintain_our_infrastructure.html") Priority 1: Maintain our infrastructure in a state of good repair
          div.improvement
            div.top-half.improvements-parks
            div.bottom-half
              h3 <span class="title-highlight">Making 10,000 homes affordable</span> for the New Yorkers who need it the most
              p.more-info
                a(href="/priority_support_growth_and_preserve_affordability.html") Priority 2: Support growth and preserve affordability in our neighborhoods
          div.improvement
            div.top-half.improvements-schools
            div.bottom-half
              h3 <span class="title-highlight">Creating 38,000 new seats in public schools</span> to ensure all children have access to quality education
              p.more-info
                a(href="/priority_expand_access_to_education_and_economic_opportunity.html") Priority 3: Expand access to education and economic opportunity
          div.improvement
            div.top-half.improvements-paths
            div.bottom-half
              h3 <span class="title-highlight">Completing a 32-mile greenway</span> along the Manhattan waterfront
              p.more-info
                a(href="/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html") Priority 4: Revitalize and protect our waterfront across all five boroughs
          div.improvement
            div.top-half.improvements-ferries
            div.bottom-half
              h3 <span class="title-highlight">Implementing citywide ferry service</span> to connect all five boroughs
              p.more-info
                a(href="/priority_build_stronger_connections_between_our_communities.html") Priority 5: Build stronger connections between our communities
          div.improvement
            div.top-half.improvements-shelters
            div.bottom-half
              h3 <span class="title-highlight">Modernizing our hospital facilities</span> to offer even more cutting-edge healthcare
              p.more-info
                a(href="/priority_promote_the_health_and_safety_of_all_new_yorkers.html") Priority 6: Promote the health and safety of all New Yorkers
          div.clear

        p.more-info
          a(href='/priority_maintain_our_infrastructure.html') Learn more about our six priorities

      div.clear

      section.datavis
        div.grid-1
          span &nbsp;
        section.partial-page
          h2 Where our investments are going
          p.
            Explore breakdowns of how and where the City of New York is investing to improve neighborhoods, sevices and infrastructure.
      
        div.investmentfilters
          button.investmentfilter.agency.selected Agency
          button.investmentfilter.lifecycle Lifecycle
          button.investmentfilter.service Service
          button.investmentfilter.source Source

        h3.category
        div.back-agencies
        div.back-services
        div.back-lifecycle

        ul#infrastructure

        p.more-info
          a(href='/priority_maintain_our_infrastructure.html') Learn more about our agency plans

