extends /_layouts/_main.pug

block content
  article.content-artice
    section.subheader
      div.topcontainer
        div.messagetop
          div.messagetop-left
          div.messagemiddle
          div.messagetop-right
      div.submessage
        p The Ten-Year Capital Strategy defines the City of New York&#8217;s long-term vision to invest $95.85 billion over the next decade to improve infrastructure, buildings, and neighborhoods across the five boroughs. In enabling City agencies to develop responsible, forward-looking programs to build a more resilient future for all New Yorkers, the Capital Strategy is guided by two principles:
        p.more-info
          a(href='#') 1. Advance neighborhood-based capital planning
        p.more-info 
          a(href='#') 2. Maintain New York City's financial responsibility
    article.content-body.index-body
      div.grid-1
        span &nbsp;
      section#section-1.partial-page
        h2 The City of New York will create real change over the next ten years.
        p.
          New Yorkers can expect visible improvements in schools, transit, parks, and more. Below are just some of the outcomes we’ll achieve with investments in our six priority areas.

      section#section-2.full-page
        div.improvements
          div.improvement
            div.top-half.improvements-buildings
            div.bottom-half
              h3 We will retrofit all public buildings to become more efficient by 2025.
              p.more-info
                a(href="#") More on maintaining our infrastructure in a state of good repair
          div.improvement
            div.top-half.improvements-parks
            div.bottom-half
              h3 We will improve access to community parks across the city.
              p.more-info
                a(href="#") More on supporting growth and preserving affordability in our diverse neighborhoods
          div.improvement
            div.top-half.improvements-schools
            div.bottom-half
              h3 We will create 38,000 new seats in schools to close the gap in overcrowded districts.
              p.more-info
                a(href="#") More on expanding access to education and economic opportunity
          div.improvement
            div.top-half.improvements-paths
            div.bottom-half
              h3 We will complete a 32-mile pedestrian and bike path around Manhattan.
              p.more-info
                a(href="#") More on revitalizing and protecting our waterfront across all five boroughs
          div.improvement
            div.top-half.improvements-ferries
            div.bottom-half
              h3 We will implement citywide ferry service to connect all five boroughs.
              p.more-info
                a(href="#") More on building stronger connections between our communities
          div.improvement
            div.top-half.improvements-shelters
            div.bottom-half
              h3 We will renovate 30 homeless shelters to increase capacity and improve quality.
              p.more-info
                a(href="#") More on promoting the health and safety of all New Yorkers
          div.clear

        p.more-info
          a(href='#') Learn more about our agency plans

      div.clear

      section.datavis
        div.grid-1
          span &nbsp;
        section.partial-page
          h2 Where our investments are going
          p.
            Explore breakdowns of how and where the City of New York is investing to improve neighborhoods, sevices and infrastructure.
      
        div.investmentfilters
          button.investmentfilter.agency.selected Agency
          button.investmentfilter.lifecycle Lifecycle
          button.investmentfilter.service Service
          button.investmentfilter.source Source

        h2.category

        ul#infrastructure

