extends /_layouts/_overview.pug
block content
  article.content-article
    div.content-container
      aside.content-sidebar
        h3 Disclaimer
        p.body-disclaimer.
          The Ten-Year Capital Strategy reflects a broad, long term vision of the City’s capital plan as of the Fiscal Year 2020 Executive Budget.
          The Ten-Year Capital Strategy is separate and distinct from the City’s adopted Capital Budget and four-year Capital Commitment Plan, which,
          due to the passage of time and other factors, reflect changes from the Ten-Year Capital Strategy. These documents are available on the
          <a href="https://www1.nyc.gov/site/omb/index.page">Office of Management and Budget’s website</a>.
      article.content-body
        section#section-1
          h1 Overview
          p.
            We are pleased to present the Fiscal Year 2020 Ten Year Capital Strategy (TYCS) that details how we plan to invest $116.9 billion over the next decade to improve infrastructure, including roads, schools, bridges, water and sewer facilities, and transportation systems in neighborhoods across the five boroughs. 
          p.
            The TYCS is distinct from both capital budget financial documents and other citywide strategic plans, such as OneNYC. Mandated by the New York City Charter, the TYCS provides a venue for the City to demonstrate the comprehensive capital planning that the City undertakes as part of its responsibility to all New Yorkers, across all neighborhoods, and explain the connection between capital investment and strategic priorities. It is designed to help prioritize investment decisions across all capital agencies and clearly communicate to the public an integrated approach to capital planning across infrastructure types, in line with the growth of the city. The TYCS has five main components: 
          ul
            li An <a href= '/overview.html'>Overview of Spending</a> that shows the allocation of our capital budget across agencies, program types, and lifecycle categories. 
            li <a href= '/principle_maintain_new_york_citys_financial_responsibility.html'>Guiding Principles</a> that provide City agencies with a long-term framework to use in developing their capital project portfolios and underlying planning processes.
            li <a href= '/priority_maintain_our_infrastructure.html'>Investment Priorities</a> help City agencies make capital investments that reflect citywide policy and strategic goals.
            li A <a href= '/financing_program.html'> Financing Program </a> section that provides a detailed look at the City’s capital finance program.
            li A Program Detail by Agency section that provides a deeper dive into specific City agencies’ capital investments can be found in the detailed <a href="https://www1.nyc.gov/assets/omb/downloads/pdf/typ4-19.pdf">Fiscal Year 2020 TYCS report</a>.
          p.  
              This publication includes expanded sections on our Guiding Principles and Investment Priorities. We expanded the Guiding Principles reflected in the previous TYCS to reveal additional ways we do comprehensive capital planning, and have provided examples of how agencies work with them in developing their long-term capital projects. We have also revised our Investment Priorities to recognize the importance of modernizing infrastructure and making additional resiliency investments. 
          p.  
              In aggregate, these enhanced components reflect the Mayor’s vision for shaping a stronger and fairer city through strategic capital investment decisions. They serve as a guide for capital planning, subsequent capital budgets, and commitment plans over the next decade. By adhering to these principles and priorities, we plan for a more socially, environmentally, and fiscally resilient future. 
          
          
          p.continue
            a(href='/principle_maintain_new_york_citys_financial_responsibility.html') <strong>Continue to Principle 1:</strong> Maintain New York City&#8217;s financial responsibility
