extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Principles
        nav.internal-nav
          ol            
            li
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
            li.selected
              a(href='/principle_planning_for_growth.html') Promote forward-looking, holistic capital planning that anticipates neighbhorhood needs of tomorrow
            li
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance a more equitable NYC through supportive capital investment
            li.selected
              a(href='/principle_community_perspectives.html') Consider community perspectives in capital planning and decision making
                
      article.content-body
        section#section-1
          h1 Consider community perspectives in capital planning and decision making
          p.
            New Yorkers have many avenues to provide feedback to City agencies, including surveys, town halls, community boards, and 311. This TYCS reflects how City agencies are developing new processes to ensure that these perspectives are considered within capital project planning, prioritization, design, and implementation
          p.
            <b>Considering public feedback within individual agency planning cycles: </b> City agencies are increasingly using community feedback to establish need, influence project planning, and validate existing assumptions at different project stages (e.g., annual budget process, scoping, design, implementation). This helps ensure that projects reflect public concerns and respond to community needs. Feedback also helps planners understand community views on existing infrastructure, which helps improve future project planning and delivery.
          p.
            <b> Strengthening our ability to collect and assess community perspectives:</b> City agencies are continually working to improve methods of collecting different types of feedback from the community about local needs and project priorities.
          ul
            li <b><i>Using technology to facilitate direct conversations on capital project prioritization:</b></i> Since 2015, DOT has used its Street Ambassador Program expand public engagement around its Street Improvement Projects. The Ambassadors engage the community at events, parks, and busy streets, using smartphones to collect information regarding street and safety improvements in many languages. To date, they have conducted nearly 32,000 conversations, particularly with groups that are traditionally underrepresented at public meetings. DOT uses this information to help prioritize specific street and safety improvements.
            li <b><i>Giving communities tools and information to help advocate for their capital needs:</b></i> City agencies strive to provide information in accessible formats to ensure that communities are able to participate meaningfully in planning processes. DCP has created the Community District Profiles, an interactive web tool that makes detailed data about community districts more accessible. Members of the public and City agencies alike have access to easy-touse maps and graphs that show key socioeconomic, demographic, and select service performance indicators for each community district. Information about the built environment for each district is now available in a single place; for example, zoning, land use, facilities, and existing and planned projects can be found alongside information about flood risk. You can access the Community District Profiles at: https://communityprofiles.planning.nyc.gov/.
            li <b><i>Aligning different types of community data to improve operational and capital planning: </b></i> The City’s 311 process collects complaints and information related to non-emergency services and tracks responses and response rates. In FY2018, City agencies received 42 million inquires via phone, mobile app, Twitter, and the web. They use this data to improve operational efficiencies, understand citywide and neighborhood-specific trends, and prioritize long-term investments in infrastructure, equipment, and resources to help mitigate future issues. At the Department of Sanitation (DSNY), local district supervisors use 311 data, Rapid Snow Conditions Reports, and Community Board Budget Requests to evaluate the effectiveness of plow routes, plan future operations and allocate additional capital resources as necessary, such as the need for small haulsters to address snow-plowing on narrow streets.
            li <b><i> Helping the community identify locations for capital development: </b></i> The Department of Small Business Services (SBS) partners with local community organizations and small business stakeholders in conducting Neighborhood 360° Commercial District Needs Assessments (CDNA). This analysis reviews storefront and retail mix, considers merchant and consumer surveys, and assesses streetscape conditions that could impact the local economy. Recommendations include participation in programs to support merchants and consumers, and a range of streetscape enhancements supported by Cityfunded Neighborhood 360° grants. SBS has completed CDNAs in ten neighborhoods, awarding more than $8 million in grant funding from FY17 through FY20 to 12 local community-based organizations in six of these neighborhoods to date. 
          
          p.continue
            a(href='/priority_maintain_our_infrastructure.html') <strong>Continue to Priority 1:</strong> Maintain our infrastructure in a state of good repair
