extends /_layouts/_principle.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li.selected
            a(href='#') Advance neighborhood-based capital planning
          li
            a(href='#') Maintain New York City’s financial responsibility
              
    article.content-body
      section#section-1
        h1 Advance neighborhood-based capital planning
        p.
          The City takes a needs-based approach to capital planning. City agencies assess their capital needs by incorporating conditions assessments, citywide and neighborhood-level trends, and the perspectives of New York City’s diverse communities. Together, we will build a more equitable, growing and resilient city. 
        p.
          This guiding principle to advance neighborhood-based capital planning is founded on the premise that a capital plan that serves all New Yorkers will:
        ul.unstyled-list
          li
            <b>Improve equity:</b> Our capital strategy will advance our equity agenda by addressing the needs of historically underserved neighborhoods and providing avenues of opportunity for New Yorkers who need it most. We will accomplish this goal by building and maintaining affordable housing, improving neglected parks, transforming business districts, ensuring clean air and water for all New Yorkers, increasing school seats, connecting communities, and easing commutes across the five boroughs with ferry service and improved public transit.
          li
            <b>Integrate neighborhood growth perspectives:</b> Over the past five years, the city’s population has grown at the fastest rate since the 1920s, bringing 375,000 new New Yorkers to the five boroughs. We have an alltime high of nearly 4.3 million jobs in 2016, including 249,000 added in 2014 and 2015 alone. For the first time in decades, more people are moving to the city than leaving, and population is increasing in every borough. This growth, and its accompanying residential and commercial development, is reshaping neighborhoods across the city. <br /><br />The Ten-Year Capital Strategy ensures that City agencies can deliver the capital improvements that our communities need as populations of residents, workers, and tourists grow. We will help shape this growth through neighborhood-building investments in parks, schools, streets, economic development and community facilities, and by continuing to leverage a $1 billion Neighborhood Development Fund in neighborhoods in which we are permitting significant new development. As technology and information gathering processes improve, we are moving towards a planning process in which City agencies will have increasingly granular information about demographics, construction and real estate development activity, enabling refinement of their capital investment strategies over the next decade to foster and manage growth.
          li
            <b>Respond to climate change:</b> The realities of climate change require that we invest to protect our city from rising sea levels and natural disasters, and continue our leadership role in minimizing the City’s contributions to global warming. This Ten-Year Capital Strategy broadly anticipates funding levels that will enable the City to design our capital projects to new standards that minimize the City’s greenhouse gas emissions and maximize the resiliency, redundancy and capacity of City infrastructure to severe floods and other natural disasters. This strategy advances a series of projects demonstrating our commitment to respond to our changing climate, including major energy efficiency improvements to government facilities, new coastal protections, tree-planting to mitigate urban heat islands, and green infrastructure to mitigate the impacts of heavy rainfall. 
          li
            <b>Foster interagency coordination:</b> City agencies are working collaboratively on capital planning, and this strategy lays the foundation for augmenting this crossagency coordination. From better scheduling of construction activity on the City’s streets to integrating storm water management plans into parks projects, the City is improving its planning and data-sharing practices to foster more efficient and effective capital investments. This streamlining will reduce project costs, shorten timelines, minimize neighborhoods disruptions, and maximize benefits of complementary investments for New Yorkers across the city.