extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Guiding Principles
        nav.internal-nav
          ol
            li
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance neighborhood-based capital planning
            li
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
                
      article.content-body
        section#section-1
          h1 Areas at Risk for Coastal Flood Impacts
          div.legend-box 1% Annual Chance Floodplain
            ol.legend-list
              li.legend.quint-3 2015 Preliminary Flood Insurance Rate Maps
              li.legend.quint-1 2050s projected future
              li.legend.parks Parks and open space
          img.map(src="/images/maps/FloodPlain_Green.png")
          ul
            li <b>Sources:</b> 2015 FEMA PFIRMs, 2015 New York City Panel on Climate Change, NYC MapPLUTO version 13
            li <b>Level of Geography:</b> Citywide Flood Plains
            li <b>Other Notes:</b> Staten Island not to scale.
