extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Principles
        nav.internal-nav
         ol            
            li
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
            li.selected
              a(href='/principle_planning_for_growth.html') Promote forward-looking, holistic capital planning that anticipates neighbhorhood needs of tomorrow
            li
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance a more equitable NYC through supportive capital investment
            li
              a(href='/principle_community_perspectives.html') Consider community perspectives in capital planning and decision making
                
      article.content-body
        section#section-1
          h1 Promote forward-looking, holistic capital planning that anticipates neighborhood needs of tomorrow
          p.
            The City takes a needs-based approach to integrated capital planning. City agencies assess their capital needs by incorporating existing condition assessments and projected citywide and neighborhood growth trends
          p.
            <b>Integrating neighborhood growth perspectives:</b> New York City has seen rapid growth in recent years – a trend reflected in population, housing, and job growth. City agencies consider these trends when planning infrastructure to address future needs, including at the neighborhood level.
    
          p.
              <b>Population Projections:</b> New York City currently has an estimated population of roughly 8.5 million residents, the highest in its history. The population has been increasing in every borough, with the Bronx experiencing the largest relative change in population. Overall population is expected to increase to roughly nine million in the next few decades, with significant growth expected in Brooklyn, Queens, and the Bronx. Understanding the shifting demographics is key to developing long-term plans that can meet the needs of all New Yorkers.
            
          p.
          h4 Projected Population Growth 2010-2030 by Neighborhood Tabulation Area (NTA)    
          p.
          img(src='images/pngs/GP2_PopProjections.png')
          ul
            li <b><i>Planning for shifting demographics:</b></i> Agencies use detailed population projections toplan service needs for select demographic groups. Adults over the age of 60 are projected to reach 1.8 million – or 20 percent – of the City’s population by 2030. The Department for the Aging (DFTA) is pursuing a multi-agency “Plan 2025” to ensure that New York City’s rapidly growing senior population benefits from stable and affordable housing, transit accessibility, mental health support through ThriveNYC, and a range of other aging services. 
             li The School Construction Authority (SCA) is now using updated pupil generation ratios (or “multipliers”) to estimate the number of public school students that could be introduced by new housing development. This input is critical for understanding future school seat demand used in SCA school capacity planning and in City Environmental Quality Reviews of real estate projects seeking City approval or financing. There were two major improvements to the multipliers. They now reflect (1) the most current household and school enrollment trends, and (2) differences among the 32 Community School Districts (CSDs) that were not captured by the borough averages used previously. Prior analyses used to assume that a 1,000- unit new building located anywhere in Brooklyn would produce school seat need for 290 elementary school students. Now, analyses with more granular data would factor in neighborhood differences and estimate school seat need for 70 elementary students given the same sized building if it were in Greenpoint or Williamsburg, or 380 if it were in East New York. By using updated and more localized data, communities and planners have a far better understanding of how large new developments could affect their local schools.
          p.
              <b> Housing Growth:</b> With population growth driven by demographic and economic factors, the housing supply must increase in order to help alleviate overcrowding, homelessness, and additional upward pressure on housing prices. In 2017, citywide housing completions exceeded 25,000 units, with additional permits issued for nearly 20,000 new units. This is in addition to a significant number of units that remain under development following 2015 and 2016, when over 55,000 new units were permitted. Housing completions are thus expected to remain at similarly high levels in the next several years.
          ul
            li <b><i>Planning for housing growth: </b> </i> As technology and information gathering processes improve, we are moving towards a planning process in which City agencies have increasingly detailed information about construction and real estate development activity. This process will ensure that the City’s neighborhoods seeing the most housing growth are receiving the appropriate level of service given rapid changes in needs. For its long-term planning, DEP is collaborating with agency partners involved in the land use process to evaluate and propose potential sewer capacity improvements in areas where significant growth is anticipated in the future, including those being rezoned to allow different types of growth. To do this, DEP is undertaking a comprehensive assessment of updated neighborhood-level data on new residential development, population projections, 311 complaint data, and existing sewer capacity; this will help the City understand impacts on existing infrastructure and capacity. The Fire Department (FDNY) is using granular data on demographic trends and projected population and housing growth to evaluate new needs for Fire and Emergency Medical Services (EMS) resources and infrastructure. 
          
          
          div.image-tout
            div.image-background
              img(src='')
            div.overlay
              div.messagetop
              h4 Ensuring school capacity planning accounts for housing growth
              p The School Construction Authority (SCA), as part of its capital planning process, estimates how many public school students are likely to enroll in one of its 32 geographic Community School Districts (CSDs) serving elementary through middle school grades. This process relies in part on understanding likely housing growth over the next five to six years.
              p This approach included several steps: (1) producing a database of housing developments that have been completed since 2010, have permits issued, or have permit applications in progress (2) generating a list of residential projects that have received or are seeking approvals or financing through City agencies; and (3) adding known information about individual projects to incorporate an estimate of the relative likelihood of projects to be built or under construction within the next five to six years. SCA incorporated the list of known developments into its New Capacity planning process, which also looks at updated enrollment projections and capacity changes in addition to housing information. SCA funded $7.88 billion or 57,000 new school seats across the City through its FY2020-2024 Capital Plan – one of the largest components of the City’s capital budget.
              p The City is working on expanding the availability of similar new data products to other capital agencies that would benefit from granular planning inputs related to housing development activity, such as FDNY’s new needs assessment and DEP’s drainage and sewer planning. This fits with the City’s efforts to ensure that agencies have a stronger understanding of current and future real estate development activity in the city and how it may affect the demands placed on City services and infrastructure.
              p <b> Housing Pipeline provided to SCA – housing units by school district 2018-2024 </b> 
              p
              img(src='images/pngs/GP2_SchoolsSeats.png')
              div.messagebottom
          p.
              <b>Job Growth:</b> As of 2017, New York City is home to 4.3 million payroll jobs, with the densest concentration of jobs in traditional Central Business Districts (CBDs) like Midtown and Lower Manhattan. Between 2008 and 2017, New York City captured 75% of the 31-county region’s net private sector employment gain – an increase of nearly 584,000 jobs. In the upcoming decade, New York City is anticipated to continue to add jobs in significant numbers. Over the past ten years,job growth has shifted across boroughs: from 2008 to 2017, the city’s rate of job growth increased most rapidly outside of Manhattan, especially in highly transit-accessible areas near institutions. In particular, job centers have been emerging in neighborhoods of Brooklyn and Queens along the East River.
          ul
            li <b><i>Planning for job growth:</b></i> The City is committed to providing supportive capital investment to support existing CBDs and other areas where sustained job growth is expected. Infrastructure improvements to support job growth include improving transit access to jobs, building workforce centers, creating public plazas, and making streetscape and facade improvements for small businesses. For example, EDC is collaborating with multiple agencies on capital projects in Downtown Brooklyn, ranging from improving wayfinding for workers near MetroTech Center and creating new green space at Willoughby Square, to improving storefronts and pedestrian spaces along the commercial corridors of Fulton Street and Flatbush Avenue.
          
          p.
          h4 Job Growth and Infrastructure Investment in Select Neighborhoods   
          p.
          img(src='/images/pngs/GP2_JobsProjections.png')
          p.
              <b>Responding to climate change:</b> The impacts from climate change on our communities are increasing the stress on our infrastructure. City agencies are investing to protect our city from existing and future climate hazards, while minimizing the City’s contributions to global warming. Through the capital planning process, we will seek to prioritize cost-effective investments that address and mitigate these ongoing risks, while recognizing that there are limits on the extent to which capital projects can feasibly reduce climate risks. This TYCS will enable the City to design our capital projects to new standards that minimize the City’s greenhouse gas emissions and maximize the resiliency, redundancy, and capacity of City infrastructure to respond quickly after storms and heat waves. This demonstrates our commitment to respond to our changing climate, including major energy efficiency improvements to government facilities, new coastal protections, tree-planting and cooling strategies to mitigate urban heat islands, and green infrastructure to mitigate the impacts of heavy rainfalll.   
          div.image-tout
            div.image-background
              img(src='/images/pngs/GP2_Resiliency.PNG')
            div.overlay
              div.messagetop
              h4 Climate Resiliency Design Guidelines
              p In April 2017, Mayor de Blasio announced the release of the Climate Resiliency Design Guidelines, which established guidance on how to use climate change science in the planning, design, construction, and renovation of City facilities.
              p Developed, tested, and continuously improved by the Mayor’s Office of Resiliency, the Climate Resiliency Design Guidelines provide the City’s engineers and architects with the step-bystep instructions necessary to design for projected changes in temperature, precipitation, and sea level. The creation of the Climate Resiliency Design Guidelines was a seminal step towards integrating resiliency as a core principle in the City’s capital program. Continued implementation will make our built environment more resilient to extreme weather and climate change, while promoting the health, safety, and prosperity of all New Yorkers.
              p The City has tested the application of the Climate Resiliency Design Guidelines to determine the design, cost, and benefit implications from achieving a resilient design standard. Today, City agencies are beginning to integrate the Climate Resiliency Design Guidelines into their standard operating procedures for design and procurement, and taking the first steps toward implementation on capital projects.
              p Click here for the latest version of the <a href= "https://www1.nyc.gov/assets/orr/pdf/NYC_Climate_Resiliency_Design_Guidelines_v3-0.pdf"> Climate Resiliency Design Guidelines </a>
              div.messagebottom
          p.
              <b>Planning with knowledge of relevant City neighborhood initiatives:</b> City agencies regularly undertake neighborhood-based initiatives to address specific neighborhood needs, often related to growth, economic development, accessibility, health and safety, and other quality-of-life improvements. By coordinating on neighborhoodbased initiatives, agencies are able to improve capital project prioritization and sequencing, in addition to pursuing a more coordinated approach to community engagement.
          ul
            li <b><i> Investing in infrastructure in advance of growth:</b></i> Given the housing challenge in New York City, the Mayor’s housing plan calls for increases in residential density in a variety of transit-rich neighborhoods around the city to stimulate supply of additional housing – especially affordable housing. The City has undertaken a number of integrated neighborhood studies in conjunction with the community and elected officials. These comprehensive, multiyear studies consider a wide range of neighborhood needs, draw deeply on local stakeholder knowledge and perspectives, and involve dozens of city agencies. The resulting integrated neighborhood plans typically contain initiatives addressing not just housing, but economic development, education, health, safety, and quality of life. Given the expected impact of increased populations on infrastructure, additional capital investment helps ensure that these neighborhoods thrive. To expedite capital planning, the City has established a $1 billion Neighborhood Development Fund (NDF) that supplements existing capital agency funds and helps reassure neighborhoods that the City is committed to growing infrastructure and public amenities in areas of significant housing growth. NDF investments include $10 million to create a new community center in East New York, $25 million for renovations to La Marqueta in East Harlem, and $26 million for renovation and expansion of Grant Park near Jerome Avenue in the Bronx. The NDF has funded substantial infrastructure in connection with five adopted integrated neighborhood plans in this Administration: East New York, Downtown Far Rockaway, East Harlem, Jerome Avenue and Inwood. These neighborhoods – and others currently being studied – can be seen in the map below. The status of City commitments to these neighborhoods can be found at <a href="https://www1.nyc.gov/site/operations/performance/neighborhood-rezoning-commitments-tracker.page">here. </a>
            h4 Select Neighborhood Study Areas
            img(src='/images/pngs/GP2_NeighborhoodRezonings.png')
            li <b><i>Removing impediments to housing: </b></i> Housing development on some sites is difficult because of physical obstacles such as existing structures, environmental contamination, or lack of infrastructure. The City created the $512 million Housing Infrastructure Fund (HIF) to help address these impediments and unlock the potential for more affordable housing. The allocation process considers site readiness, project timeline, number of affordable units, availability of other funding sources, and level of community support. For example, the City is using HIF funds towards Hunter’s Point South in Long Island City to support increased construction costs resulting from concurrent school construction, existing utilities, and rail tunnels beneath publiclyowned land. Once complete in 2022, the Hunter’s Point South project will result in the creation of nearly 1,200 units of mixed-income housing, including over 700 permanently-affordable units. 

          p.continue
            a(href='/principle_advance_neighborhood_based_capital_planning.html') <strong>Continue to Principle 3:</strong>  Advance a more equitable NYC through supportive capital investment
