extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Guiding Principles
        nav.internal-nav
          ol
            li
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance neighborhood-based capital planning
            li
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
                
      article.content-body
        section#section-1
          h1 Projected Population Growth 2015-2030
          div.legend-box Projected change in population
            ol.legend-list
              li.legend.quint-0 Less than 1,000 or loss
              li.legend.quint-1 1,000 to 1,999
              li.legend.quint-2 2,000 to 4,999
              li.legend.quint-3 5,000 to 9,999
              li.legend.quint-4 10,000 and above
              li.legend.parks Parks and open space
          img.map(src="/images/maps/PopJobs_Green.png")
          ul
            li <b>Sources:</b> New York Metropolitan Transportation Council, 2050 Socioeconomic and Demographic Forecasts, with worker to jobs adjustment by NYC Department of City Planning, Population Division, 2016
            li <b>Level of Geography:</b> Neighborhood Tabulation Areas
            li <b>Other Notes:</b> Staten Island not to scale.

          
