extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Guiding Principles
        nav.internal-nav
          ol            
            li.selected
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
            li
              a(href='/principle_planning_for_growth.html') Promote forward-looking, holistic capital planning that anticipates neighbhorhood needs of tomorrow
            li
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance a more equitable NYC through supportive capital investment
            li
              a(href='/principle_community_perspectives.html') Consider community perspectives in capital planning and decision making

      article.content-body
        section#section-1
          h1 Maintain New York City&#8217;s financial responsibility
          p.
            New York City&#8217;s capital investments are primarily funded through the issuance of bonds, which are purchased by financial institutions and New Yorkers alike. The City’s strong economy, responsible budget practices, and sustainable levels of debt service put these bonds in high demand.
          p.
            Since the late 1980’s, the City and fiscal monitoring agencies measure the debt service burden as a percentage of tax revenues. It is the best measure of debt burden because it puts debt service within the context of the City’s own resources. These credit strengths have a real impact on New Yorkers: a strong demand for bonds reduces the costs of maintaining roads, bridges, schools, and other capital investments, and saves taxpayers money.
          p.
            This TYCS demonstrates our commitment to meeting legal mandates and enhancing the capacity and quality of our assets. Moreover, it maintains infrastructure that is critical to fostering long-term economic growth and improving quality of life for New Yorkers. 
          p.
    article.chart
      h2 Debt Service Obligation
      p.subchart ($ in billions)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Fiscal Year
                th Anticipated Debt Service Obligation
                th Debt Service as a Percentage of Tax Revenue
              tr
                td 2020
                td $7.3 
                td 11.5%
              tr
                td 2021
                td $7.6
                td 11.7%
              tr
                td 2022
                td $8.3
                td 12.4%
              tr
                td 2023 
                td $9.1
                td 13.1%
              tr
                td 2024 
                td $9.6
                td 13.4%
              tr
                td 2025 
                td $10.1 
                td 13.5%
              tr
                td 2026 
                td $10.5
                td 13.5%
              tr
                td 2027 
                td $10.8 
                td 13.3%
              tr
                td 2028 
                td $11.0 
                td 13.0%
              tr
                td 2029 
                td $11.1 
                td 12.6%  
                
    div.content-container
      div.grid-3
        span &nbsp;
      article.content-body
          section 
          p.
          h4 Debt Service as a Percentage of Tax Revenue
          img(src='/images/pngs/GP1_DebtService.png')
          
          p. 
            <b>Fostering better interagency project coordination:</b> From better scheduling of construction activity on the City’s streets to integrating storm water management plans into parks projects, the City is improving its planning and data-sharing practices to foster more efficient and effective capital investments. For example, the Department of Transportation (DOT) and the Department of Environmental Protection (DEP) coordinate on planning for street reconstruction projects, safety improvements, and sewer and water main upgrades and repairs. The Department of Design and Construction (DDC) has new Front End Planning Units which further facilitate communication between agencies to share project scoping, discuss state of good repair improvements, and identify project timelines that might benefit from coordinated project delivery. This coordinated work creates cost efficiencies, shortens project timelines and, most importantly, reduces disruption to communities from the construction work.
          div.image-tout
            div.image-background
              img(src='/images/pngs/GP1_Coordination.png')
            div.overlay
              div.messagetop
              h4 Coordination with Private Utilities
              p New York City’s streets typically have multiple private and public utilities running beneath them, including public water and sewer services and privately-owned electrical, steam, natural gas and telecommunications cabling. As a result, roadway repairs and improvements, and utility upgrades or repairs, often require coordinated street excavation. Coordinating all the public and private work activities required is critically important, as utility work is among the primary causes of delays to City-sponsored roadway reconstruction work. 
              p New York City is committed to streamlining and centralizing capital work coordination across service providers, including utilities and telecommunication companies. Following on the successful effort to strengthen coordination between public and private entities while revitalizing Lower Manhattan after 9/11, we are strengthening working relationships among capital project planners through monthly scheduling and planning meetings, in addition to separate project-based meetings. We are also sharing digital maps showing locations of facilities and planned projects. Moreover, City agencies and private utilities are piloting joint construction of capital projects with a single contractor, which can yield significant savings by shortening the schedule and eliminating additional coordination needs. We expect that increased coordination will lead to more efficient construction overall, produce cost savings, and cause fewer street disruptions within communities.
              div.messagebottom
          p. 
            <b>Enhancing capital project procurement and implementation&#x3a;</b> 
          p.  
              The City is prioritizing several improvements to procurement and implementation processes, including a) increasing transparency into the process for vendors and the public; b) ensuring efficiency and transparency in delivery; c) developing innovative designbuild programs for large-scale priority projects; d) reducing procurement cycle times; and e) enhancing cost estimation among the nearly $4 billion in construction procurement that occurs every year. For example, in January 2019, DDC released its <a href="https://www1.nyc.gov/assets/ddc/images/content/pages/press-releases/2019/2019_DDC_Strategic_Plan.pdf"> strategic plan </a> with key reforms and processes related to procurement and implementation of capital projects. DDC seeks to modernize the contract procurement process, improve evaluation and payment processes, and introduce better project management controls for efficient delivery of projects. 
          p.
              As another example, in April 2017, the Mayor’s Office of Contract Services (MOCS) released a new Procurement and Sourcing Solutions Portal (PASSPort) to improve the citywide procurement process. PASSPort is a user-friendly and interactive portal for both vendors and City agencies to find key resources, manage vendor accounts, submit information and track performance. It has replaced the existing paper based system, saving both vendors and City agencies considerable time and effort in doing business with the City
          div.image-tout
            div.image-background
              img(src='/images/pngs/GP1_DesignBuild.png')
            div.overlay
              div.messagetop
              h4 Design-Build
              p Currently, nearly all City capital projects require separate procurement for design and construction. The design contract needs to be completed before the construction contract is procured and finalized, and procurement timelines can take up to six months. As the size and complexity of the City&#8217;s capital portfolio continues to increase, expanding the range of tools available for effective and more tailored project-specific delivery is more critical than ever. To that end, another type of project delivery mechanism is design-build, in which a single contractor is hired to be responsible for both the design and the construction phases of a project. By having a single entity responsible for the project, design and construction planning can be done concurrently, which reduces project delivery schedules, improves cost estimation of materials and resources, and minimizes project risks. To date, the City has procured design-build authority for a limited number of projects. The City is continuing to advocate for the expansion of its design-build authority by improving bidding and project management processes to ensure critical capital projects are delivered within shorter timelines and at lower costs.
              
              div.messagebottom
          p.continue
            a(href='/principle_planning_for_growth.html') <strong>Continue to Principle 2:</strong> Promote forward-looking, holistic capital planning that anticipates neighbhorhood needs of tomorrow
