extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Guiding Principles
        nav.internal-nav
          ol            
            li
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
            li
              a(href='/principle_planning_for_growth.html') Promote forward-looking, holistic capital planning that anticipates neighbhorhood needs of tomorrow
            li.selected
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance a more equitable NYC through supportive capital investment
            li
              a(href='/principle_community_perspectives.html') Consider community perspectives in capital planning and decision making
                
      article.content-body
        section#section-1
          h1 Advance a more equitable NYC through supportive capital investment
          p.
            The City of New York is committed to pursuing equity through its capital decision-making in neighborhoods across all five boroughs.
          p.
            <b>Considering historical and future investment trends across various geographic lenses:</b> This TYCS advances our equity agenda by understanding and addressing the needs of different neighborhoods and ensuring that sufficient investment is planned in areas where New Yorkers need it most over the next decade. We will continue to work towards equity by building and maintaining more affordable housing, improving neglected parks, transforming business districts to create opportunity, ensuring clean air and water, improving schools, connecting communities, and easing commutes across the five boroughs with ferry service and improved public transit. 
          
          div.image-tout
            div.image-background
              img(src='/images/pngs/GP3_Brownsville.png')
            div.overlay
              div.messagetop
              h4 Brownsville Neighborhood Plan
              p The Brownsville Plan is the result of a year-long collaborative, community-driven planning process to realize more equitable health, social, and economic outcomes for the residents of Brownsville, Brooklyn. Many of the challenges that Brownsville faces are all too common in American cities due in part to historical patterns of residential racial segregation and income inequality. Seventy-eight percent of Brownsville residents are black, 19 percent are Hispanic, and one in three residents is foreign-born. Led by HPD, the Brownsville planning process solicited input from the local Community Board, more than 30 neighborhood organizations, 500 residents, elected officials, and 20 different City agencies.
              p The implementation of the Brownsville Plan will result in the creation of over 2,500 new affordable homes, representing more than $1 billion of investment in housing in the neighborhood. New development on City-owned land in Brownsville will support the goals of improving health, safety, community economic development, and the arts in the form of a new cultural center, a new center for innovation and entrepreneurship, new neighborhood retail, and space for community organizations, all paired with affordable housing. In addition to housing, the Brownsville Plan coordinates over $150 million in additional City investment, including renovations of Brownsville’s parks, improvements to the open spaces on New York City Housing Authority (NYCHA) developments, a new community center for teenagers at the NYCHA Brownsville Houses, and a new  Neighborhood Health Action Center.
              p Much of this work will be complete or underway within the next five years, with regular community updates from HPD and its sister agencies. Visit nyc.gov/Brownsville to see the full plan and progress updates.
              div.messagebottom
          p.
            One way the City pursues equity is in its focus on underserved transit areas. For example, 60 percent of workers living in the Bronx rely on public transportation to commute to work, and in 2017 the borough carried 25% of the city’s bus ridership. 
          p.
            However, only three of the 16 existing Select Bus Service (SBS) routes are located in the Bronx. Mayor de Blasio has announced new goals to significantly improve bus speeds and ridership. DOT will collaborate with New York City Transit (NYCT) on the redesign of bus networks citywide, beginning in the Bronx and building 10 to 15 miles of dedicated bus lanes each year. Further, DOT will increase the pace of transit signal priority (TSP) where buses get more green lights and work with the Police Department (NYPD) to increase towing of parked vehicles in bus lanes. With these actions, the City intends to reverse the decline in bus ridership and improve bus speeds by 25%. This aggressive goal also includes continued advocacy for additional bus lane enforcement cameras and the continuation of the expansion of the SBS program. Capital projects in support of existing SBS routes continue in multiple locations to further improve and encourage bus ridership. In selecting new SBS routes, DOT and NYCT weigh four factors, including whether neighborhoods are currently underserved by transit, require additional capacity due to growth, face difficult trips to work, and currently face subway crowding.
          p.
            <b>Driving consistency in capital need assessment approach across all boroughs and neighborhoods: </b> City agencies have developed robust new methods for assessing the condition, lifecycle, and required maintenance for capital assets across the city. City agencies are working towards a more consistent, data-driven approach to assessing asset condition and prioritizing state-of-good-repair and modernization projects. In 2016, the Department of Parks and Recreation (DPR) initiated its own needs assessment program to effectively plan for the agency’s vast system needs and prioritize state-of-good repair funding requests. Focusing on four pilot asset types (synthetic turf fields, retaining walls, recreation centers and comfort stations), the agency has established a small assessment team to consistently inventory, inspect, determine scope and cost estimates, and prioritize projects and funding requests. As a result, DPR has used the information collected to successfully advocate for funding to address asset conditions. 
          p.
            <b>Planning with knowledge of relevant City equity initiatives: </b> The City of New York is committed to making New York City the fairest big city in the United States, and this includes making sure that individual capital projects advance broader equity goals. For example, HPD is partnering with the Housing Development Corporation (HDC), New York Public Library (NYPL), and EDC to redevelop the site of the Inwood Library. City agencies led an extensive community engagement and neighborhood planning exercise to gather feedback from Inwood residents, conducting three workshops and four Community Board presentations, and releasing a questionnaire available in multiple languages. Based on this feedback, City agencies released a Community Visioning Report to guide the design and scope of the development, in addition to the selection of a development team that was most responsive to the community’s priorities for the Inwood Library site. This project includes the construction of a new building containing a modern library branch, 175 units of deeply affordable apartments, and an onsite Activities, Culture, Training Center). 
          div.image-tout
            div.image-background
              img(src='/images/pngs/GP3_Health.PNG')
            div.overlay
              div.messagetop
              h4 Addressing health inequities through neighborhood-specific initiatives
              p Not all New Yorkers have the same opportunity to lead a healthy life, perpetuating long-standing racial and socioeconomic inequities in health outcomes. The Department of Health and Mental Hygiene (DOHMH) is committed to addressing these inequities by promoting collaboration among policymakers, community groups, health professionals, researchers, and residents.
              p DOHMH and partners are confronting the root causes of health inequity by creating neighborhood-level change guided by the health equity goals outlined in Take Care New York 2020 (TCNY2020). Two initiatives demonstrate how programmatic changes, supported by capital investments to improve existing facilities, can promote healthier neighborhoods:
              p <b> Neighborhood Health Action Centers </b> are DOHMH buildings where healthcare services, community-based organizations and other service providers share a location in order to provide primary care, create space for community organizing and planning, and connect residents to neighborhood-based social services. These Action Centers focus on community health needs, including critical issues such as high premature mortality rates, and improve linkages between community organizations. In 2018, over 42,000 people visited the Action Centers (located in East Harlem, Brownsville, and Tremont).
              p The <b> Neighborhood Health Initiative (NHI) </b> was a DOHMH effort to build authentic shared leadership and trust between local government and community partners to confront the root causes of health inequity. Between 2016 and 2018, eight partners from neighborhoods with high health inequities were funded to convene community members and identify avenues toward better community health.
              div.messagebottom
          
          p.continue
            a(href='/principle_community_perspectives.html') <strong>Continue to Principle 4:</strong> Consider community perspectives in capital planning and decision making
