extends /_layouts/_principle.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Principles
        nav.internal-nav
          ol
            li
              a(href='/principle_advance_neighborhood_based_capital_planning.html') Advance neighborhood-based capital planning
            li
              a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Maintain New York City&#8217;s financial responsibility
                
      article.content-body
        section#section-1
          h1 Neighborhood Povery Rates
          div.legend-box Neighborhood tabulation area poverty rate
            ol.legend-list
              li.legend.quint-0 Less than 10%
              li.legend.quint-1 10% to 19.9%
              li.legend.quint-2 20% to 29.9%
              li.legend.quint-3 30% to 39.9%
              li.legend.quint-4 40% and above
              li.legend.parks Parks and open space
          img.map(src="/images/maps/NTAPovertyRates_Green.png")
          ul
            li <b>Sources:</b> 2010-2014 American Community Survey – Summary File
            li <b>Level of Geography:</b> Neighborhood Tabulation Areas 
            li <b>Other Notes:</b> Staten Island not to scale.
