extends /_layouts/_priority.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
            li
              a(href='#') Advance neighborhood-based capital planning
            li.selected
              a(href='#') Maintain New York City’s financial responsibility
              
    article.content-body
      section#section-1
        h1 Maintain New York City’s financial responsibility
        p.
          New York City’s capital investments are funded largely by City-issued bonds, which are purchased by financial institutions and New Yorkers alike. The City’s strong economy, responsible budget practices, and sustainable levels of debt service put these bonds in high demand.
        p.
          The debt service ratio as a percentage of taxes has been used by the City and fiscal monitoring agencies since the late 1980’s. It is the best measure of debt burden because it puts debt service within the context of the City’s own resources.
        p.
          These credit strengths have a real impact on New Yorkers: a strong demand for bonds reduces the costs of maintaining roads, bridges, schools, and other capital investments, and saves taxpayers money.
        p.
          This Ten-Year Capital Strategy demonstrates our commitment to meeting legal mandates and enhancing the capacity and quality of our assets. Moreover, it maintains infrastructure that is critical to fostering long-term economic growth and improving quality of life for New Yorkers.
