extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Investment Prioirites
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain and modernize our infrastructure to ensure a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, and restore and protect our waterfront across all five boroughs
              li.selected
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Build stronger connections between our communities
          p.
            Building stronger societal connections between New York&#8217;s many communities includes ensuring convenient access to community centers, essential services and other resources that improve our quality of life. To build a more equitable city, these resources should be accessible via multiple modes of transportation, and navigable for all New Yorkers. Through this Ten-Year Capital Strategy, we are allocating funds to provide better transportation options and expand community facilities and public spaces.
          p.
            We facilitate better connections between transportation options by investing in a variety of complementary and innovative modes of travel. We will invest to improve the speed and reliability of buses by re-designing our streets to put buses first. We will also support our mass transit system through our contributions to the Metropolitan Transportation Authority’s Capital Plan. As mentioned in Investment Priority 4, we are expanding the citywide ferry service to directly connect all five boroughs. In order to help and encourage both recreational and commuter bicycling we are also investing in a network of bike routes that will connect all five boroughs. 
          div.image-tout
            div.image-background
              img(src='/images/pngs/IP5_Manhattan Greenway.PNG')
            div.overlay
              div.messagetop
              h4 Project Spotlight: Manhattan Greenway Project
              p The Manhattan Greenway project plans to connect all waterfront adjacent green spaces to create a 32.5-mile continuous greenway loop around the island of Manhattan. This project will provide over 1,000 acres of greenspace to residents and visitors, including designated bike and walking paths along the waterfront. The City has committed to close the loop and provide an additional 15 acres of quality open space in five areas (Inwood, Esplanade Gardens, East Harlem, East Midtown and the United Nations Esplanade). Most of these investments are in low-income areas that historically have not had access to the waterfront. The Ten-Year Capital Strategy funds components of the Manhattan Greenway project which will be jointly delivered by EDC, DOT and DPR.
              div.messagebottom
          p.
            Community centers play an important role in providing a place for neighborhood gatherings and diverse social service programs. In this TYCS we provide funding to complete the creation of a community center and multi-purpose gym facility in East New York, which has been planned concurrently with the introduction of additional affordable housing in that area. This plan also invests in important social institutions like botanical gardens, museums and zoos, which enhance communities, and provide cultural and educational opportunities citywide. 
          p.
            Today&#8217;s libraries are far more than mere repositories of books and media. Our public library system, the largest and busiest in the country, enhances communities by hosting a range of key urban services including after school and adult learning programs, literacy courses, and free-internet service. By investing in the 216 libraries across the New York, Brooklyn, and Queens library systems, we further community connections, enhance educational opportunities, and advance economic opportunity. We are supporting library facilities by upgrading our existing libraries with new HVAC systems, making interior and exterior improvements, installing new equipment and technologies, and upgrading facilities to help disabled New Yorkers enjoy the benefits of library facilities.
          p.
            City parks contribute to social cohesion within and among our communities. We will continue to invest to improve equitable access to our parks and create new open space across the city through initiatives like the Anchor Parks program, which provides for major improvements in one large park in each borough. The Walk to a Park initiative will improve access in areas that are currently underserved by parks and open space. We will invest in recreational centers, rehabilitate and upgrade amenities like pools and tennis courts, and ensure that youth, seniors and people with disabilities have access to top-quality and affordable recreational opportunities. Over the next ten years we will also continue to maintain access areas within our watershed areas for fishing, hiking and other low-impact recreational uses.
          p.
           Further, strategic investments in broadband infrastructure increase digital connectivity, capacity, and improve internet access to all New Yorkers across the city
          
          p.continue
            a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') <strong>Continue to Priority 6:</strong> Promote the health and safety of all New Yorkers
          
