extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Priorities
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain and modernize our infrastructure to ensure a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li.selected
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, restore and protect our waterfront
              li
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Address citywide resiliency goals, restore and protect our waterfront 
          p.
            Our waterfront and waterways are unique assets that have fostered the city&#8217;s development for centuries. Over the next decade the City will protect these resources, and our community, by increasing investment in critical resilient and flood-resistant infrastructure. Further, we will support infrastructure that facilitates the use of waterways for transportation, commerce, and recreation
          p.
            Our investments to address the effects of climate change are related to Hurricane Sandy recovery efforts, and informed by the need to prepare for future storms. Our commitment to resiliency is reflected in our ambitious $500 million plan to reduce Lower Manhattan&#8217;s vulnerability to flooding due to coastal storms and sea level rise. Other important resiliency investments include $1.1 billion at NYC Health + Hospitals for the reinforcement of Bellevue and Coney Island Hospitals from future flood events, and $459 million to strengthen wastewater resource recovery facilities and pumping stations through flood protection upgrades.
          div.image-tout
            div.image-background
              img(src='/images/jpgs/priority4.jpg')
            div.overlay
              div.messagetop
              h4 Initiative Spotlight: Waterfront Parks
              p In this Ten-Year Capital Strategy, the City is investing in vibrant public spaces along the city&#8217;s coastline across all five boroughs. This includes the Orchard Beach Pavilion and Promenade in the Bronx, called ‘among the most remarkable public recreational facilities ever built in the United States&#8217; by NYC Landmarks Preservation Commission, which will be restored and renovated to improve safety and access with more than $30 million of investment. This also includes completing the vision of a contiguous 32-mile waterfront pedestrian promenade and bicycling path around the whole of Manhattan with $100million to close the largest gap in the Manhattan Waterfront Greenway.
              div.messagebottom
          p.
            NYC Ferry launched in the summer of 2017 and has connected growing neighborhoods to job centers and brought much needed transit access to NYC’s waterfront and recreational areas. Between 2020-21, NYC Ferry plans to expand by introducing two new routes: one connecting Staten Island to Midtown Manhattan (via Lower Manhattan), and another connecting Coney Island to Lower Manhattan. The expansion will also include a new landing at Throggs Neck in the Bronx and a stop at Brooklyn Navy Yard to support the existing routes. With the expansion, NYC Ferry service will connect all five boroughs. In this TenYear Capital Strategy, the City has committed $304.5 million toward the purchase of new ferries, infrastructure improvements to bulkheads and piers, and investments to strengthen the City’s waterfront assets for public, commercial, and recreational uses.
          p.
            Strategic investments in developing industries to employ these newly-skilled New Yorkers will complement our investments in education. We are investing to rehabilitate buildings at the Brooklyn Navy Yard to create a start-up incubator for technology and manufacturing, creating 500 jobs, while also launching the Brooklyn STEAM Center that will connect an estimated 400 high school juniors and seniors with technical training in software development, culinary arts, engineering, film, construction, and design.The Made in NY campus at Bush Terminal will also be renovated and modernized with an investment of $136million of investment.
          p.
            As New York City continues to address the effects of climate change, we are working to improve resiliency as part of our recovery from Hurricane Sandy. Our commitment to making the City more resilient will include$760 million for the construction of the ambitious EastSide Coastal Resilience project on Manhattan&#8217;s Lower East Side. Also included are Federal Emergency Management Agency funded resiliency projects including over $750million at NYC Health + Hospitals, over $200 million at the NYC Department of Parks & Recreation, and over $175 million at the NYC Department of Environmental Protection. These investments will pave the way for a thriving New York for generations to come.

          p.continue
            a(href='/priority_build_stronger_connections_between_our_communities.html') <strong>Continue to Priority 5:</strong> Build stronger connections between our communities
