extends /_layouts/_priority.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
            li
              a(href='#') Maintain our infrastructure in a state of good repair
            li
              a(href='#') Support growth and preserve affordability in our neighborhoods
            li
              a(href='#') Expand access to education and economic opportunity
            li.selected
              a(href='#') Revitalize and protect our waterfront across all five boroughs
            li
              a(href='#') Build stronger connections between our communities
            li
              a(href='#') Promote the health and safety of all New Yorkers
              
    article.content-body
      section#section-1
        h1 Revitalize and protect our waterfront across all five boroughs
        p.
           We are making our waterfront work for all NewYorkers through investments in new waterfront open spaces, critical infrastructure, and water quality improvements. New York’s waterfront and waterways are unique assets that have paved the way to the city’s development. Over the course of the past two decades, the city has taken steps to re-activate its diverse520 miles of coastline for recreational, residential, commercial, transportation and industrial uses. We plan to expand these initiatives, while taking steps to ensure that our city is built to last against the threats of climate change by preserving and restoring natural habitats and creating new coastal protection systems.
        p.
          We will develop new waterfront open spaces, anchoring waterfront communities and serving as new destinations for all New Yorkers. A series of capital investments in waterfront parks and open spaces will help make the City’s waterfront more accessible for recreation including investing more than $30 million for the reconstruction of the Orchard Street Pavilion and $100 million in closing the largest gap in the Manhattan Waterfront Greenway.
        p.
          We will also continue to improve the quality of our waterfront infrastructure and clean our waterbodies. We will undertake critical waterfront infrastructure repairs and upgrades by setting aside funds to implement projects identified by the City’s new waterfront property inspection program. We will invest $6.7 billion to clean our waterbodies and reduce water pollution. We are also strengthening wastewater treatment plants and pumping stations through flood protection upgrades. These investments in our waterfront and waterbodies will be supported by implementation of new citywide ferry service in 2017, helping not only to connect waterfront communities, but also to bring more New Yorkers closer to our rivers and harbor.
        p.
          Strategic investments in developing industries to employ these newly-skilled New Yorkers will complement our investments in education. We are investing to rehabilitate buildings at the Booklyn Navy Yard to create a start-up incubator for technology and manufacturing, creating 500 jobs, while also launching the Brooklyn STEAM Center that will connect an estimated 400 high school juniors and seniors with technical training in software development, culinary arts, engineering, film, construction, and design.The Made in NY campus at Bush Terminal will also be renovated and modernized with an investment of $136million of investment.
        p.
          As New York City continues to address the effects of climate change, we are working to improve resiliency as part of our recovery from Hurricane Sandy. Our commitment to making the City more resilient will include$760 million for the construction of the ambitious EastSide Coastal Resilience project on Manhattan’s Lower EastSide. Also included are Federal Emergency ManagementAgency funded resiliency projects including over $750million at NYC Health + Hospitals, over $200 million at the NYC Department of Parks & Recreation, and over$175 million at the NYC Department of EnvironmentalProtection. These investments will pave the way for a thriving New York for generations to come.
      section#section-2
        h2 Initiative Spotlight: Waterfront Parks
        p. 
           In this Ten-Year Capital Strategy, the City is investing in vibrant public spaces along the city’s coastline across all five boroughs. This includes theOrchard Beach Pavilion and Promenade in the Bronx, called ‘among the most remarkable public recreational facilities ever built in the United States’ by NYCLandmarks Preservation Commission, which will be restored and renovated to improve safety and access with more than $30 million of investment. This also includes completing the vision of a contiguous 32-mile waterfront pedestrian promenade and bicycling path around the whole of Manhattan with $100million to close the largest gap in the ManhattanWaterfront Greenway.