extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain our infrastructure in a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Revitalize and protect our waterfront across all five boroughs
              li.selected
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Build stronger connections between our communities
          p.
            We are committed to giving New Yorkers better transit options and to ensuring all neighborhoods have the infrastructure and facilities they need to thrive. This Ten-Year Capital Strategy strengthens our ability to provide services that benefit all New Yorkers and bring communities together. Our transportation systems, public spaces, and civic services serve all New Yorkers, connecting us to nature and to one another. Investments in these areas contribute sizable economic, social, and environmental returns that can last for generations.
          p.
            We will invest to relieve congestion and improve performance on our subway and bus systems by supporting the Metropolitan Transportation Authority&#8217;s Capital Plan.We will concurrently invest in complementary, innovative, and strategic modes of alternative transit to augment these ongoing improvements. Implementing citywide ferry service will more directly connect all five boroughs, providing new options for commuters to get to Manhattan, while also connecting growing communities along the length of the Brooklyn and Queens waterfronts. A further$293 million is included in the Ten-Year Capital Strategy to continue the implementation of the City&#8217;s ambitiousSelect Bus Service plan will provide an effective, flexible, and low-cost transportation alternative to New Yorkers with limited transit options.
          div.image-tout
            div.image-background
              img(src='/images/CUNY002_nocaption.jpg')
            div.overlay
              div.messagetop
              h4 Project Spotlight: Expanding Ferry Service Citywide
              p The New York City Economic DevelopmentCorporation (NYCEDC) is working to launch the Citywide Ferry Service this year. The service will consist of five new ferry routes in addition to the existing East River Ferry, charging a fare of $2.75 –the same as a subway ride. When the Citywide FerryService is fully operational in 2018, the six routes will carry an estimated 4.6 million trips per year and connect all five boroughs from Sound view in theBronx to the north and Rockaway in Queens to the south. This innovative transportation system will provide\ affordable and convenient transit for communities with limited transportation options, support growing neighborhoods, and increase the resiliency of our city&#8217;s transportation network.Coupled with existing Staten Island service, the citywide system of ferries will connect New Yorkers across all five boroughs to one another, and to greater opportunities citywide.
              div.messagebottom
          p.
            In addition to greater transit mobility, we will support connectivity through strategic investment in public spaces and infrastructure that bridges the City&#8217;s digital divide.Initiatives like the Anchor Parks program, which provides for major improvements in one large park in each borough, will help to ensure that our large parks continue to contribute to the social cohesion of our communities. We also plan to open up approximately 20,000 additional acres of land in watershed areas for fishing, hiking and other low-impact recreational uses in the next ten years. Both public and private investments in new broadband infrastructure will increase digital connectivity across the city and reduce costs to low-income New Yorkers.
          p.
            This Ten-Year Capital Strategy will also enable the City to more strategically site City facilities and program sites to best serve our populations of need. Whether it&#8217;s theDepartment of Social Services&#8217; reevaluation of their physical footprint, or the relocation of a sanitation garage from Downtown Staten Island, we will reallocate the distribution of certain City programs to increase efficiency and connectivity to services across the city.

          p.continue
            a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') <strong>Continue to Priority 6:</strong> Promote the health and safety of all New Yorkers
          