extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Priorities
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain and mordernize our infrastructure to ensure a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li.selected
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, restore and protect our waterfront 
              li
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Expand access to education and economic opportunity
          p.
            New Yorkers’ lives are enhanced by access to education and diverse job opportunities. By improving existing schools and building new ones we promote access to quality education; by making strategic investments to catalyze job growth and promote innovation, we nurture a more vibrant job market. 
          p.
            With more than 1.1 million students across 1,700 schools, New York City has the largest public-school system in the country. The SCA FY 2020-2024 Capital Plan invests $17 billion in support of building and improving facilities, and expanding initiatives. The current plan supports almost 57,000 new seats to alleviate overcrowding and improve access to schools in growing neighborhoods. By maintaining support for high-speed broadband connectivity, and investing in new computer labs, gymnasiums, and playgrounds, we will provide our children with access to robust tools and quality facilities to prepare them for the future. To enhance safety in areas with substantial student traffic during the school day, we are investing an additional $86.9 million in the Safe Routes to Schools program.
          div.image-tout
            div.image-background
              img(src='images/pngs/IP3_School Accesibility.PNG')
            div.overlay
              div.messagetop
              h4 Initiative Spotlight: SCA Accessibility 
              p In the most recent SCA Capital Plan FY2020-2024, the City will considerably expand its investment to improve accessibility in schools for children, staff, and parents who have mobility impairments and other disabilities. Currently, less than 20% of New York’s public schools are considered fully accessible. This expanded allocation of $750 million, compared to $178 million in the previous plan, will enable a third of all school buildings in every school district to become fully accessible, and ensure 50% of all elementary schools around the city are either partially or fully accessible. Capital projects to improve accessibility in school buildings include building ramps and wheelchair lifts, creating accessible bathrooms, widening doors and partitions, and making public assembly spaces compliant with disability access requirements. With this initiative, our public schools will become far more inclusive, providing opportunities for students with physical disabilities and special needs to access educational opportunities close to home, avoiding the need to travel to a more accessible facility. 
              div.messagebottom
          p.
            Early childhood education initiatives build a foundation for our children and our city. DOE and SCA will support early childhood learning initiatives by investing $550 million over five years to build new 3-K and Pre-K classrooms in both existing facilities and new locations. These initiatives reduce the childcare cost burden for families and help young children succeed as they transition through the public-school system. We will also continue to invest in new childcare facilities, like daycare centers and child welfare facilities, while modernizing existing centers.
          p.
            We are also making investments that will drive sustainable, resilient growth by making it easier to build and maintain a thriving business. In 2017, the City committed to a Jobs Plan for all New Yorkers with the goal of creating 100,000 new good paying jobs over the next ten years. To further these goals, we are investing in a logistics terminal at Brooklyn Army Terminal, an industrial business space that currently supports over 100 businesses. We are also supporting and growing our bioscience workforce by investing in a new Applied Life Science Hub, and will continue to support ongoing infrastructure improvements to Brooklyn Navy Yard and Bush Terminal to ensure they remain world class industrial parks. 

          p.continue
            a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') <strong>Continue to Priority 4:</strong> Revitalize and protect our waterfront across all five boroughs
