extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Investment Prioirites
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain and modernize our infrastructure to ensure a state of good repair
              li.selected
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, and restore and protect our waterfront
              li
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Support growth and preserve affordability in our diverse neighborhoods
          p.
            <b>New York City&#8217;s population is estimated at roughly 8.5 million residents, and projected to expand to roughly nine million in the next few decades. While this growth is good for the economy, and expands job opportunities for New Yorkers, it can also create pressure on our existing infrastructure and communities. This Ten-Year Capital Strategy makes supportive investments in growing neighborhoods to create and preserve affordable housing, improve public parks and open spaces, enhance community facilities, and strengthen core infrastructure to promote thriving neighborhoods across the five boroughs.
          p.
            The City has several initiatives dedicated to preserving existing affordable housing units, creating new affordable units, and modernizing existing housing stock for low to middle-income New Yorkers. This Strategy allocates $7.1 billion in support of Housing NY 2.0, a five-borough, twelve-year plan to create or preserve 300,000 affordable homes by 2026. The Ten-Year Capital Strategy also allocates an additional $2.7 billion for HPD programs from FY2027 – 2029, after the completion of HNY 2.0. Within the 2020 – 2029 Ten Year Capital Strategy described above, we will provide low-interest loans to create or preserve affordable housing in privately-owned buildings across all five boroughs through preservation ($3.7 billion), new construction ($2.9 billion), supportive housing ($2.4 billion), and disposition ($600 million) in all five boroughs. Housing developments managed by the New York Housing Authority (NYCHA) are home to more than 400,000 low to moderate income New Yorkers; the Ten Year Capital Strategy allocates $3.0 billion NYCHA can use to repair building exteriors, install new roofs, upgrade building systems, and more.
          div.image-tout
            div.image-background
              img(src='images/pngs/IP2_Housing 2.0.PNG')
            div.overlay
              div.messagetop
              h4 Initiative Spotlight: Housing New York 2.0 (HNY)
              p Mayor de Blasio launched the Housing New York plan in 2014 with a goal to “build or preserve nearly 200,000 affordable units, and help both tenants and small landlords preserve the quality and affordability of their homes.” Since 2014, the City has preserved or constructed 25,000 affordable homes per year and is expected to reach its goal of 200,000 affordable homes by 2022, two years ahead of schedule. In Fall 2017, the plan was updated and Housing NY 2.0 was released with the aim of generating an additional 100,000 affordable homes by 2026. 
              p This extended plan focuses on 5 key areas: ui.unstyled-list 
              ul  
                li a) ensure there is more affordable housing for seniors; 
                li b) introduce homeownership programs; 
                li c) develop anti-displacement programs to protect existing affordability; 
                li d) pursue innovative construction methods for new housing; and 
                li e) unlock the potential of City-owned vacant lots that can be redeveloped for housing. 
                
              p Additionally, the City is making complementary investments in parks, streets, schools, and other infrastructure in areas with significant increases in residential development as part of Housing New York and Housing New York 2.0.  
            div.messagebottom
          p.
            To support growing neighborhoods, the City&#8217;s Neighborhood Development Fund helps ensure that our integrated neighborhood plans help the city thrive today and in the future by coupling increased housing density with funding for necessary infrastructure and facility improvements. For example, the Downtown Far Rockaway study supported community investments to improve accessibility to the neighborhood, increase economic opportunity, and improve quality of life for residents. As a part of these investments, the City will fund new storm and sanitary sewers to help improve drainage and reduce street flooding
          p.
            The City will continue to invest in our neighborhood parks, playgrounds and recreational facilities to support thriving and growing communities so that all New Yorkers can have access to quality open space. The Strategy funds capital construction and upgrade projects in our parks and open spaces; this includes the reconstruction of specialized and youth-oriented recreational spaces like tennis courts, playing fields, and swimming pools.
          p.
            This Ten Year Capital Strategy will also provide resources for areas experiencing repeated flooding during wet weather events. This includes $1.8 billion to improve drainage and reduce flooding in Southeast Queens through a strategic combination of traditional sewer construction and green infrastructure.
          
          p.continue
            a(href='/priority_expand_access_to_education_and_economic_opportunity.html') <strong>Continue to Priority 3:</strong> Expand access to education and economic opportunity
