extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Priorities
        nav.internal-nav
          ol
              li.selected
                a(href='/priority_maintain_our_infrastructure.html') Maintain and modernize our infrastructure to ensure a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, and restore and protect our waterfront 
              li
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Maintain and modernize our infrastructure to ensure a state of good repair
          p.
           Infrastructure helps support a robust urban community. Investments that maintain, modernize, and upgrade our assets are critical towards ensuring our infrastructure systems continue to deliver service and respond to change. This Ten-Year Capital Strategy promotes safety, reliability, and efficiency in our City&#8217;s existing infrastructure and public facilities by dedicating more than 50%, or $59.7 billion, of our total anticipated capital spending over the next decade to state of good repair. This includes upgrading infrastructure, modernizing buildings, and enhancing information technologies. As these assets reach the end of their useful life, we will allocate an additional 25% towards replacement. 
          p.
           We will continue to invest in maintaining and upgrading roads and bridges. These investments in our local streets, arterial highway networks and bridges help keep pedestrians, commuters, and bicyclists safe, facilitate distribution of commercial goods, and limit pollution-causing congestion. Over the next decade, we will allocate $3.1 billion for street reconstruction work, including $1.6 billion toward Vision Zero initiatives. Our investment in this area also includes $8.3 billion to repair more than 100 bridge structures, including all four East River Bridges. 
          p.
           New York City&#8217;s Department of Environmental Protection continuously maintains and upgrades the City&#8217;s water and wastewater systems. To maintain the safety and reliability of our water supply, we are allocating $6.7 billion to our water supply and distribution systems. To protect the public health and improve the quality of New York harbor waters, we will allocate $12.8 billion to our sewer and wastewater treatment systems. This includes our City&#8217;s wastewater resource recovery facilities, where we will allocate $1.3 billion toward modernizing equipment to promote energy efficiency and meeting resiliency needs.
          div.image-tout
            div.image-background
              img(src='/images/pngs/IP1_Water Tunnel 3.jpg')
            div.overlay
              div.messagetop
              h4 Project Spotlight: Water Tunnel #3
              p The City Water Tunnel No. 3 is a complex infrastructure project aiming to improve and expand the drinking water delivery system to New York City neighborhoods, allow for the maintenance and repairs of the existing Water Tunnels No. 1 and No. 2 and build redundancies to our water delivery system. Water Tunnel No. 3 consists of over 60 miles of tunnel systems and the installation of state of the art operating technology. There are two active stages to this project – Stage 1 runs from Hillview Reservoir through the Bronx and into Manhattan, while Stage 2 runs through Manhattan, Queens and Brooklyn. 
              p Stage 1 went into service in 1998. The Manhattan leg of Stage 2 went into service in October of 2013, and the Brooklyn/Queens leg has been “activation ready” since December 2017, serving as an emergency water source. In this Ten-Year Capital Strategy, the City is committing $339.5 million to Stage 1 for work at Hillview Reservoir and $604.7 million to Stage 2 of Water Tunnel No. 3 to complete the final two remaining distribution shafts for the Brooklyn/Queens leg. 
              div.messagebottom
          p.
            We are also focused on improving City-owned buildings, including schools and libraries, recreation and cultural centers, police precincts, fire houses, and maintenance facilities. This includes reducing building-based emissions. The City has committed to achieving a 20% energy reduction in City buildings by 2025. On top of this, the City&#8217;s OneNYC plan sets a goal of reducing these emissions by at least 40 percent by 2030, and 80 percent by 2050. To meet these targets, the Mayor&#8217;s Office of Sustainability, DCAS, and a broad range of City agencies have been working together to green the City&#8217;s portfolio. For example, this group is collaborating to achieve emissions and energy reduction targets by accelerating the pace of deep energy retrofits throughout the City&#8217;s portfolio. The City has also launched a new program to prioritize buildings across its portfolio that are suitable for implementation of a range of energy conservation measures at scale. 

          p.continue
            a(href='/priority_support_growth_and_preserve_affordability.html') <strong>Continue to Priority 2:</strong> Support growth and preserve affordability in our diverse neighborhoods
