extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Investment Prioirites
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain and modernize our infrastructure to ensure a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, and restore and protect our waterfront across all five boroughs
              li
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li.selected
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Promote the health and safety of all New Yorkers
          p.
            We are continually striving to make New York a cleaner, more environmentally conscious, safer, and healthier city. The Strategy allocates funding for improving health care facilities, police and emergency response infrastructure, and sanitation facilities and equipment. 
          p.
            We are revitalizing our health and hospitals system to ensure New Yorkers have access to state-of-the-art preventative care and medical treatment. We are allocating $2.6 billion to support the rehabilitation of existing hospitals, including $696 million to modernize our hospital facilities by upgrading IT systems and medical equipment. We will also invest $327 million to renovate existing public health facilities to ensure uninterrupted and quality services to all New Yorkers. 
          p.
            Safeguarding the well-being of vulnerable populations including the elderly, disabled, and homeless, is a priority. We are increasing capacity and making improvements to homeless shelter facilities that serve a range of disparate populations. 
          div.image-tout
            div.image-background
              img(src='/images/pngs/IP6_Vision Zero.jpg')
            div.overlay
              div.messagetop
              h4 Initiative Spotlight: Vision Zero
              p In February 2014, the Vision Zero initiative was launched to eliminate deaths and serious injuries on New York City streets. The City then committed $2.6 billion to a series of initiatives in priority locations designated by DOT to a) improve safety infrastructure on streets, including protected bike-lanes and improved pedestrian crossings; b) introduce new engineering and enforcement policies like installing speed cameras, modifying signals to give pedestrian head starts, changing road geometry to encourage slower speeds and safer turns, and reducing the speed limit to 25 mph; and c) increase traffic safety education and awareness in schools and senior centers. 
              p Vision Zero improvements have shown progress for all five years of the initiative, bringing road deaths down to their lowest numbers since the adoption of the automobile: as of 2018, there was a 26% decrease in traffic fatalities compared to the five-year average before Vision Zero. In February 2019, the DOT released a new Borough Pedestrian Safety Plan, which targets the next set of streets, intersections, and areas that will be the focus of Vision Zero initiatives. This TenYear Capital Strategy has committed $3.1 billion in street reconstruction projects of which $1.6 billion will be dedicated to ongoing and new Vision Zero projects citywide. 
              div.messagebottom
          p.
            Investments in traffic safety help all New Yorkers, especially seniors and people with disabilities. In addition to Vision Zero projects, this TYCS includes initiatives including accessible pedestrian signals and pedestrian ramp improvements. 
          p.
            We will protect our communities and promote public safety by equipping our police officers, fire fighters, and correctional officers with infrastructure and facilities to respond to neighborhood needs. For example, we are committing $75 million to building a new police precinct for the 40th Precinct in the Bronx. This brand-new building will include a new community event space, making our precincts more welcoming while ensuring the safety of those who live and work in the neighborhood.
          p.
            Making the city cleaner and greener improves the lives of all New Yorkers. DSNY collects approximately 12,000 tons of garbage and recycling a day, operates from 59 local sanitation garages, and utilizes over 5,400 vehicles, other specialized equipment. This Strategy funds new equipment so DSNY can continue to provide safe and reliable service. We will make our city greener by devoting $187 million toward planting new street trees.
          

          p.continue
            a(href='/financing_program.html') <strong>Continue to Financing:</strong> Overview
