extends /_layouts/_priority.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Investment Prioirites
        nav.internal-nav
          ol
              li
                a(href='/priority_maintain_our_infrastructure.html') Maintain and modernize our infrastructure to ensure a state of good repair
              li
                a(href='/priority_support_growth_and_preserve_affordability.html') Support growth and preserve affordability in our diverse neighborhoods
              li
                a(href='/priority_expand_access_to_education_and_economic_opportunity.html') Expand access to education and economic opportunity
              li.selected
                a(href='/priority_revitalize_and_protect_our_waterfront_across_all_five_boroughs.html') Address citywide resiliency goals, and restore and protect our waterfront
              li
                a(href='/priority_build_stronger_connections_between_our_communities.html') Build stronger connections between our communities
              li
                a(href='/priority_promote_the_health_and_safety_of_all_new_yorkers.html') Promote the health and safety of all New Yorkers
                
      article.content-body
        section#section-1
          h1 Address citywide resiliency goals, and restore and protect our waterfront 
          p.
            Our waterfront and waterways are unique assets that have fostered the city&#8217;s development for centuries. Over the next decade the City will protect these resources, and our community, by increasing investment in critical resilient and flood-resistant infrastructure. Further, we will support infrastructure that facilitates the use of waterways for transportation, commerce, and recreation
          p.
            Our investments to address the effects of climate change are related to Hurricane Sandy recovery efforts, and informed by the need to prepare for future storms. Our commitment to resiliency is reflected in our ambitious $500 million plan to reduce Lower Manhattan&#8217;s vulnerability to flooding due to coastal storms and sea level rise. Other important resiliency investments include $1.1 billion at NYC Health + Hospitals for the reinforcement of Bellevue and Coney Island Hospitals from future flood events, and $459 million to strengthen wastewater resource recovery facilities and pumping stations through flood protection upgrades.
          div.image-tout
            div.image-background
              img(src='/images/pngs/IP4_ESCR.PNG')
            div.overlay
              div.messagetop
              h4 Initiative Spotlight: East Side Coastal Resiliency (ESCR)
              p East Side Coastal Resiliency (ESCR) is a plan to protect the lower Manhattan communities along the East River that were most affected by Hurricane Sandy from the effects of future storms and sea level rise. The 2.4-mile-long project will install a continuous flood protection system from Montgomery Street north to East 25th Street, protecting 110,000 residents, including approximately 15,000 New Yorkers living in NYCHA developments. Flood protection consists of a combination of floodwalls and deployable flood gates, raised landscapes and East Side Coastal Resiliency (ESCR) other structures, each individually tailored to the specific site in which they will be constructed. The project will enhance drainage and other infrastructure within the protected areas and rebuild park and waterfront areas to create a resilient and cohesive East River waterfront with improved community amenities. ESCR is a collaborative project between city, state and federal agencies to protect NYC coastline. The Ten-Year Capital Strategy provides $1.45 billion in funding to design and implement this project. 
              div.messagebottom
          p.
            A series of capital investments will develop new waterfront open spaces to anchor waterfront communities and serve as new recreation destinations for all New Yorkers. We have made major investments to close the largest gaps in the Manhattan Waterfront Greenway, a project focused on providing continuous waterfront access around the island of Manhattan, and are investing more than $41 million to activate new parkland and expand access to the Greenpoint-Williamsburg waterfront.
          p.
            More detailed information on the City&#8217;s strategy to making New York safer and more resilient to the impacts of climate change in the near and long term can be found in the OneNYC plan. 
          

          p.continue
            a(href='/priority_build_stronger_connections_between_our_communities.html') <strong>Continue to Priority 5:</strong> Build stronger connections between our communities
