extends /_layouts/_priority.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
            li
              a(href='#') Maintain our infrastructure in a state of good repair
            li
              a(href='#') Support growth and preserve affordability in our neighborhoods
            li.selected
              a(href='#') Expand access to education and economic opportunity
            li
              a(href='#') Revitalize and protect our waterfront across all five boroughs
            li
              a(href='#') Build stronger connections between our communities
            li
              a(href='#') Promote the health and safety of all New Yorkers
              
    article.content-body
      section#section-1
        h1 Expand access to education and economic opportunity
        p.
          We will modernize our educational facilities, reduce school overcrowding, and invest to equipNew Yorkers with the skills and opportunities they need to succeed. New York City has the largest public school system of any city in the country, with more than1.1 million students in more than 1,700 schools. The City also contributes to funding for higher education in theCity University of New York, helping to prepare New Yorkers for the workforce. A vibrant local economy and the success of our middle class depend upon achieving the highest educational outcomes through state-of-the-art facilities made accessible to all.
        p.
          We will continue our commitment to address the current identified seat need. This Ten Year Capital Strategy includes funding for 38,000 new seats and will close the current seat gap in overcrowded districts. We will modernize our school facilities and enhance educational programming at all levels of the public education system. We will also invest in new childcare and child welfare facilities, while modernizing existing centers, with over $260 million of investment.
        p.
          An $8.9 billion allocation will enable the City not only to repair our aging school buildings and campuses, but also to enhance these facilities by delivering high-speed broadband connectivity in all public schools and providing for investment in new computer labs, gymnasiums, auditoriums, playgrounds, and state-of-the-art university facilities. We are also investing $78 million in the SafeRoutes to Schools program to ensure that areas with heavy student traffic surrounding the school day are safe for children.
        p.
          Strategic investments in developing industries to employ these newly-skilled New Yorkers will complement our investments in education. We are investing to rehabilitate buildings at the Booklyn Navy Yard to create a start-up incubator for technology and manufacturing, creating 500 jobs, while also launching the Brooklyn STEAM Center that will connect an estimated 400 high school juniors and seniors with technical training in software development, culinary arts, engineering, film, construction, and design.The Made in NY campus at Bush Terminal will also be renovated and modernized with an investment of $136million of investment.
      section#section-2
        h2 Initiative Spotlight: Increasing School Broadband Connectivity
        p. 
          Having technology in our classrooms not only makes learning exciting, but also prepares our students to succeed in the jobs of today and tomorrow. With the technology sector projected to continue to add a large portion of jobs to the economy, having a strong technology foundation is crucial to equipping students with critical skills to be at the forefront of technological innovation. The School ConstructionAuthority’s 2015-19 5-Year Capital Plan allocates $650 million for technology, $192 million of which is for FY18 alone. Funding will help carve the path for schools to upgrade their broadband internet access to ensure that schools can accept the faster internet speeds. This equipment will facilitate the integration of hands-on and project-based activities into everyday learning, cultivating critical thinking skills and adding significant value to students’ academic growth.