extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='/transportation_overview.html') Overview
          li
            a(href='/transportation_bridges.html') Bridges
          li
            a(href='/transportation_highways.html') Highways
          li
            a(href='/transportation_traffic.html') Traffic
          li
            a(href='/transportation_ferries.html') Ferries
          li.selected
            a(href='/transportation_equipment.html') Equipment
          li
            a(href='/transportation_transit_authority.html') Transit Authority
              
    article.content-body
      section#section-1
        h1 Equipment
        p.
          CHART HERE
        p.
          The Ten-Year Capital Strategy provides $109.9 million for the purchase of vehicles and equipment for DOT field forces and computer equipment for office automation, data processing, and engineering support.   
       