extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='/transportation_overview.html') Overview
          li
            a(href='/transportation_bridges.html') Bridges
          li
            a(href='/transportation_highways.html') Highways
          li
            a(href='/transportation_traffic.html') Traffic
          li.selected
            a(href='/transportation_ferries.html') Ferries
          li
            a(href='/transportation_equipment.html') Equipment
          li
            a(href='/transportation_transit_authority.html') Transit Authority
              
    article.content-body
      section#section-1
        h1 Ferries
        p.
          The Ten-Year Capital Strategy provides a total of $319.3 million for the reconstruction, construction and improvement of various ferry vessels and facilities.   
        h2 Reconstruction of Ferry Terminals 
        p.
          The Ten-Year Capital Strategy includes $230.3 million for the rehabilitation and renovation work to ferry terminal buildings, slips, and racks.  
        h2 Reconstruction/Construction of Ferry Boats 
        p.
          The Ten-Year Capital Strategy provides $70.5 million for various projects associated with the Department of Transportation-operated ferry boats.   
        h2 Reconstruction of Ferry Maintenance Facility
        p.
          Funding of $18.4 million is included for general construction work at the ferry maintenance facility

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category FERRIES
        h2 Ferries
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>