extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='#') Overview
          li
            a(href='#') Bridges
          li
            a(href='#') Highways
          li
            a(href='#') Traffic
          li
            a(href='#') Ferries
          li.selected
            a(href='#') Equipment
          li
            a(href='#') Transit Authority
              
    article.content-body
      section#section-1
        h1 Equipment
        p.
          CHART HERE
        p.
          The Ten-Year Capital Strategy provides $109.9 million for the purchase of vehicles and equipment for DOT field forces and computer equipment for office automation, data processing, and engineering support.   
       