extends /_layouts/_transportation.pug
block content
  article.content-artice
    div.content-container
      aside.content-sidebar
        h2 Transportation & Transit
        nav.internal-nav
          ol
            li
              a(href='/transportation_overview.html') Overview
            li.selected
              a(href='/transportation_bridges.html') Bridges
            li
              a(href='/transportation_highways.html') Highways
            li
              a(href='/transportation_traffic.html') Traffic
            li
              a(href='/transportation_ferries.html') Ferries
            li
              a(href='/transportation_equipment.html') Equipment
            li
              a(href='/transportation_transit_authority.html') Transit Authority
                
      article.content-body
        section#section-1
          h1 Bridges
          p.
            The Ten-Year Capital Strategy provides $8.2 billion in the Bridge Program for the reconstruction and upgrade of the City&#8217;s bridge system. The Ten-Year Capital Strategy includes funding for work on the four East River Bridges and other bridge structures. The first four years of this Ten-Year Capital Strategy provides $6.0 billion to the Bridge Program, of which $1.6 billion is planned to be committed in 2018. The total commitment reflects the high priority accorded to restoring and maintaining these essential links in the City&#8217;s transportation system. 
          h2 Bridge Reconstruction 
          p.
            The Ten-Year Capital Strategy provides $3.7 billion to reconstruct bridge structures currently rated “fair” or “good,” including $1.5 billion for Brooklyn-Queens Expressway (BQE) – Triple Cantilever Bridge and $345.0 million for the Shore Road Bridge over Hutchinson River.
          h2 Bridge Life Extension 
          p.
            The Ten-Year Capital Strategy provides $3.0 billion for rehabilitative work on bridge structures currently rated “fair” or “good” that require an upgrade to their current condition, in addition to bridge component rehabilitation work on various bridges. These projects include $138.5 million for Grand Street Bridge over Newtown Creek and $86.1 million for FDR Drive Northbound from East 42nd to 49th Street. 
          h2 East River Bridges 
          p.
            The Ten-Year Capital Strategy provides $1.3 billion for rehabilitative work on the East River Bridges. Funds for these projects include $342.5 million for Queensboro Bridge, $329.5 million for the Manhattan Bridge, $308.0 million for Williamsburg Bridge, and $277.9 million for Brooklyn Bridge.
          h2 Bridge Protective Coating 
          p.
            The Ten-Year Capital Strategy provides $254.7 million for protective coating treatment on bridge structures. This program includes $9.6 million for the Henry Hudson Parkway Bridge over West 158th Street and $1.6 million for West 207th Bridge over Harlem River.
          h2 Bridge Facilities, Equipment and Vehicles 
          p.
            The Ten-Year Capital Strategy provides $24.8 million for the purchase of equipment and vehicles and $5.4 million for bridge facilities.

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category HIGHWAY BRIDGES
        h2 Bridges
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>

    article.chart
      h2 Department of Transportation - Bridges
      p.subchart ($ in 000's)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Project Type: BR and HB
                th 2018
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th 2024
                th 2025
                th 2026
                th 2027
                th Total
              tr
                td East River Bridges
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 707,524
                td 250,000
                td 0
                td 280,000
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,237,524
              tr
                td &nbsp; Federal
                td 20,340
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 20,340
              tr
                td Fair Bridges
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 365,176
                td 102,690
                td 966,107
                td 1,178,071
                td 520,268
                td 65,061
                td 15,137
                td 0
                td 0
                td 16,090
                td 3,228,600
              tr
                td &nbsp; Federal
                td 93,538
                td 763
                td 76,576
                td 238,141
                td 0
                td 36,237
                td 0
                td 0
                td 0
                td 0
                td 445,255
              tr
                td &nbsp; State
                td 6,140
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 6,140
              tr
                td &nbsp; Private
                td 857
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 857
              tr
                td Useful Life Extension
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 219,807
                td 183,184
                td 398,459
                td 614,603
                td 293,982
                td 263,453
                td 140,745
                td 124,194
                td 83,483
                td 470,601
                td 2,792,511
              tr
                td &nbsp; Federal
                td 140,798
                td 41,956
                td 13,340
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 196,094
              tr
                td &nbsp; State
                td 17,579
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 17,579
              tr
                td Bridge Painting
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 13,803
                td 13,650
                td 20,000
                td 20,591
                td 25,000
                td 32,000
                td 32,000
                td 32,000
                td 32,919
                td 32,000
                td 253,963
              tr
                td &nbsp; Federal
                td 725
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 725
              tr
                td Poor Bridges
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 7
                td 1,000
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,007
              tr
                td Equipment for Bridge Maintenance
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 2,033
                td 1,020
                td 500
                td 500
                td 500
                td 500
                td 500
                td 500
                td 516
                td 531
                td 7,100
              tr
                td &nbsp; City
                td 2,033
                td 1,020
                td 500
                td 500
                td 500
                td 500
                td 500
                td 500
                td 516
                td 531
                td 7,100
              tr
                td Bridge Facilities
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 1,543
                td 392
                td 399
                td 406
                td 414
                td 414
                td 428
                td 441
                td 455
                td 469
                td 5,361
              tr
                td Bridge Vehicles
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 8,284
                td 900
                td 978
                td 997
                td 1,017
                td 1,037
                td 1,071
                td 1,107
                td 1,141
                td 1,177
                td 17,709
              tr
                td.total Project Type Total by Source of Funds
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; City
                td 1,318,177
                td 552,836
                td 1,386,443
                td 2,095,168
                td 841,181
                td 362,465
                td 189,881
                td 158,242
                td 118,514
                td 520,868
                td 7,543,775
              tr
                td &nbsp; Federal
                td 255,401
                td 42,719
                td 89,916
                td 238,141
                td 0
                td 36,237
                td 0
                td 0
                td 0
                td 0
                td 662,414
              tr
                td &nbsp; State
                td 23,719
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 23,719
              tr
                td &nbsp; Private
                td 857
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 857
              tr
                td.total Project Type Total
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; All funds
                td 1,598,154
                td 595,555
                td 1,476,359
                td 2,333,309
                td 841,181
                td 398,702
                td 189,881
                td 158,242
                td 118,514
                td 520,868
                td 8,230,765

    div.clear
    article.next
      section
        p.continue
          a(href='/transportation_highways.html') <strong>Continue to Transportation 3:</strong> Highways
