extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='/transportation_overview.html') Overview
          li
            a(href='/transportation_bridges.html') Bridges
          li
            a(href='/transportation_highways.html') Highways
          li.selected
            a(href='/transportation_traffic.html') Traffic
          li
            a(href='/transportation_ferries.html') Ferries
          li
            a(href='/transportation_equipment.html') Equipment
          li
            a(href='/transportation_transit_authority.html') Transit Authority
              
    article.content-body
      section#section-1
        h1 Traffic
        p.
          The Ten-Year Capital Strategy provides $656.3 million for Traffic programs.  
        h2 Signal Installation and Computerization 
        p.
          The Ten-Year Capital Strategy provides $285.6 million for signal installation and computerization.  
        h2 Installation of Lampposts and Luminaires 
        p.
          The Ten-Year Capital Strategy provides $195.4 million for the installation of lampposts and luminaires.
        h2 Installation of Pavement Markings 
        p.
          The Ten-Year Capital Strategy provides funding of $65.6 million for the installation of approximately 109 million linear feet of thermoplastic reflectorized pavement markings to be done in conjunction with the Department&#8217;s in-house resurfacing program.
        h2 Highway and Bridge Related Work 
        p.
          The Ten-Year Capital Strategy provides $54.8 million for the installation of signals, streetlights, and lane markings associated with the Highway Reconstruction and Bridge Programs.   
        h2 Replacement of Electrical Distribution Systems 
        p.
          To reduce lighting outages, the Ten-Year Capital Strategy will replace approximately 320,000 linear feet of wire/conduit for traffic related electrical distribution systems throughout the City&#8217;s roadway and park lighting systems, at a total cost of $32.0 million.   
        h2 Parking Meters, Lots, Garages and Equipment 
        p.
          The Ten-Year Capital Strategy provides $22.9 million for parking meters, lots, garages, and electrical vehicle charging stations.

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category TRAFFIC
        h2 Traffic
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>

    div.clear

    article.chart
      h2 Department of Transportation - Traffic
      p.subchart ($ in 000's)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Project Type: TF
                th 2018
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th 2024
                th 2025
                th 2026
                th 2027
                th Total
              tr
                td Traffic Work in Conjunction with Fair Bridges
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 1,699
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,699
              tr
                td Communications, Surveillance Equipment
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 2,000
                td 8,000
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 10,000
              tr
                td Highway Drawdown Program
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 2,996
                td 955
                td 1,917
                td 0
                td 0
                td 0
                td 2,000
                td 0
                td 0
                td 0
                td 7,868
              tr
                td &nbsp; Federal
                td 0
                td 640
                td 1,552
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 2,192
              tr
                td Installation of Lampposts and Luminaires
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 19,201
                td 15,166
                td 6,072
                td 15
                td 72
                td 15
                td 72
                td 15
                td 0
                td 31
                td 40,659
              tr
                td &nbsp; Federal
                td 0
                td 2,354
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 2,354
              tr
                td &nbsp; State
                td 26,369
                td 8,012
                td 22,000
                td 7,500
                td 22,000
                td 7,500
                td 22,000
                td 7,500
                td 22,000
                td 7,500
                td 152,381
              tr
                td Parking Meters, Lots and Garages
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 4,517
                td 3,687
                td 480
                td 1,029
                td 662
                td 480
                td 493
                td 507
                td 523
                td 539
                td 12,917
              tr
                td Installation of Pavement Markings
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 20,169
                td 0
                td 14,729
                td 0
                td 15,131
                td 0
                td 0
                td 0
                td 0
                td 15,600
                td 65,629
              tr
                td Traffic Work in Conjunction with Highway Reconstruction
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 6,688
                td 8,516
                td 8,352
                td 2,455
                td 2,478
                td 2,776
                td 2,862
                td 3,066
                td 2,016
                td 2,079
                td 41,288
              tr
                td &nbsp; Federal
                td 455
                td 471
                td 821
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,747
              tr
                td &nbsp; State
                td 0
                td -9
                td 24
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 15
              tr
                td Replacement of Electrical Distribution Systems
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 589
                td 0
                td 463
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,052
              tr
                td &nbsp; Federal
                td 5,295
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 5,295
              tr
                td &nbsp; State
                td 520
                td 5,139
                td 0
                td 5,000
                td 0
                td 5,000
                td 0
                td 5,000
                td 0
                td 5,000
                td 25,659
              tr
                td Signal Installation and Computerization
              tr
                td &nbsp; City
                td 66,930
                td 26,273
                td 11,697
                td 7,094
                td 10,098
                td 7,094
                td 10,098
                td 7,096
                td 0
                td 17,196
                td 163,576
              tr
                td &nbsp; Federal
                td 14,971
                td 305
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 15,276
              tr
                td &nbsp; State
                td 3,029
                td 21,188
                td 500
                td 20,500
                td 0
                td 20,500
                td 0
                td 20,500
                td 0
                td 20,500
                td 106,717
              tr
                td.total Project Type Total by Source of Funds
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; City
                td 124,789
                td 62,597
                td 43,710
                td 10,593
                td 28,441
                td 10,365
                td 15,525
                td 10,684
                td 2,539
                td 35,445
                td 344,688
              tr
                td &nbsp; Federal
                td 20,721
                td 3,770
                td 2,373
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 26,864
              tr
                td &nbsp; State
                td 29,918
                td 34,330
                td 22,524
                td 33,000
                td 22,000
                td 33,000
                td 22,000
                td 33,000
                td 22,000
                td 33,000
                td 284,772
              tr
                td.total Project Type Total
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; All funds
                td 175,428
                td 100,697
                td 68,607
                td 43,593
                td 50,441
                td 43,365
                td 37,525
                td 43,684
                td 24,539
                td 68,445
                td 656,324

    div.clear
    article.next
      section
        p.continue
          a(href='/transportation_ferries.html') <strong>Continue to Transportation 5:</strong> Ferries