extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='/transportation_overview.html') Overview
          li
            a(href='/transportation_bridges.html') Bridges
          li.selected
            a(href='/transportation_highways.html') Highways
          li
            a(href='/transportation_traffic.html') Traffic
          li
            a(href='/transportation_ferries.html') Ferries
          li
            a(href='/transportation_equipment.html') Equipment
          li
            a(href='/transportation_transit_authority.html') Transit Authority
              
    article.content-body
      section#section-1
        h1 Highways
        p.
          The Ten-Year Capital Strategy provides $5.9 billion to the Highways program for the rehabilitation of approximately 8,313 lane miles of City streets. 
        h2 Street Reconstruction 
        p.
          Total funding in the Ten-Year Capital Strategy for street reconstruction is $2.7 billion to reconstruct approximately 673 lane miles. This work includes $264.2 million for the reconstruction to improve drainage conditions in Southeast Queens, $220.2 million for the reconstruction of Queens Boulevard and $183.6 million for Woodhaven Boulevard Select Bus Service routes.
        h2 Street Resurfacing 
        p.
          The Ten-Year Capital Strategy funds the resurfacing of 7,640 lane miles of primary streets and arterial highways at a ten-year cost of $1.6 billion. This includes the resurfacing of 1,300 lane miles annually in 2018 and 2019.
        h2 Sidewalk and Ramp Reconstruction 
        p.
          For the ten-year period, $506.8 million is provided to reconstruct sidewalks throughout the City. Additionally, $804.0 million is provided to install and reconstruct pedestrian ramps throughout the City. 
        h2 Facility Reconstruction 
        p.
          A total of $204.3 million is allocated in the Ten-Year Capital Strategy for the design and reconstruction of highway maintenance and repair yards, other Department facilities, and miscellaneous renovations and upgrades. 
        h2 Step Streets & Retaining Walls 
        p.
          A total of $19.0 million is provided in the Ten-Year Capital Strategy for the reconstruction of step streets ($18.7 million) and retaining walls ($0.2 million).

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category HIGHWAYS
        h2 Highways
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>