extends /_layouts/_transportation.pug
block content
  article.content-artice
    div.content-container
        aside.content-sidebar
          h2 Transportation & Transit
          nav.internal-nav
            ol
              li
                a(href='/transportation_overview.html') Overview
              li
                a(href='/transportation_bridges.html') Bridges
              li
                a(href='/transportation_highways.html') Highways
              li
                a(href='/transportation_traffic.html') Traffic
              li.selected
                a(href='/transportation_ferries.html') Ferries
              li
                a(href='/transportation_equipment.html') Equipment
              li
                a(href='/transportation_transit_authority.html') Transit Authority
                  
        article.content-body
          section#section-1
            h1 Ferries
            p.
              The Ten-Year Capital Strategy provides a total of $319.3 million for the reconstruction, construction and improvement of various ferry vessels and facilities.   
            h2 Reconstruction of Ferry Terminals 
            p.
              The Ten-Year Capital Strategy includes $230.3 million for the rehabilitation and renovation work to ferry terminal buildings, slips, and racks.  
            h2 Reconstruction/Construction of Ferry Boats 
            p.
              The Ten-Year Capital Strategy provides $70.5 million for various projects associated with the Department of Transportation-operated ferry boats.   
            h2 Reconstruction of Ferry Maintenance Facility
            p.
              Funding of $18.4 million is included for general construction work at the ferry maintenance facility

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category FERRIES
        h2 Ferries
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>

    article.chart
      h2 Department of Transportation - Ferries
      p.subchart ($ in 000's)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Project Type: FA
                th 2018
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th 2024
                th 2025
                th 2026
                th 2027
                th Total
              tr
                td Reconstruction of Ferry Boats
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 13,171
                td 7,238
                td 10,745
                td 3,276
                td 7,350
                td 3,085
                td 0
                td 272
                td 1,262
                td 1,301
                td 47,700
              tr
                td &nbsp; Federal
                td 3,000
                td 3,510
                td 4,340
                td 4,368
                td 0
                td 3,480
                td 0
                td 0
                td 0
                td 0
                td 18,698
              tr
                td &nbsp; State
                td 1,375
                td 387
                td 1,365
                td 546
                td 0
                td 435
                td 0
                td 0
                td 0
                td 0
                td 4,108
              tr
                td Ferry Maintenance Facility Construction
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 1,979
                td 0
                td 8,000
                td 2,329
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 12,308
              tr
                td &nbsp; Federal
                td 5,797
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 5,797
              tr
                td &nbsp; State
                td 330
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 330
              tr
                td Reconstruction of Ferry Terminal Facilities
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 13,374
                td 49,790
                td 91,915
                td 4,898
                td 1,216
                td 0
                td 0
                td 0
                td 0
                td 0
                td 161,193
              tr
                td &nbsp; Federal
                td 22,788
                td 21,760
                td 14,681
                td 0
                td 4,144
                td 0
                td 0
                td 0
                td 0
                td 0
                td 63,373
              tr
                td &nbsp; State
                td 1,391
                td 0
                td 360
                td 0
                td 4,000
                td 0
                td 0
                td 0
                td 0
                td 0
                td 5,751
              tr
                td.total Project Type Total by Source of Funds
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; City
                td 28,524
                td 57,028
                td 110,660
                td 10,503
                td 8,566
                td 3,085
                td 0
                td 272
                td 1,262
                td 1,301
                td 221,201
              tr
                td &nbsp; Federal
                td 31,585
                td 25,270
                td 19,021
                td 4,368
                td 4,144
                td 3,480
                td 0
                td 0
                td 0
                td 0
                td 87,868
              tr
                td &nbsp; State
                td 3,096
                td 387
                td 1,725
                td 546
                td 4,000
                td 435
                td 0
                td 0
                td 0
                td 0
                td 10,189
              tr
                td.total Project Type Total
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; All funds
                td 63,205
                td 82,685
                td 131,406
                td 15,417
                td 16,710
                td 7,000
                td 0
                td 272
                td 1,262
                td 1,301
                td 319,258

    div.clear
    article.next
      section
        p.continue
          a(href='/transportation_equipment.html') <strong>Continue to Transportation 6:</strong> Equipment
