extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='/transportation_overview.html') Overview
          li
            a(href='/transportation_bridges.html') Bridges
          li
            a(href='/transportation_highways.html') Highways
          li.selected
            a(href='/transportation_traffic.html') Traffic
          li
            a(href='/transportation_ferries.html') Ferries
          li
            a(href='/transportation_equipment.html') Equipment
          li
            a(href='/transportation_transit_authority.html') Transit Authority
              
    article.content-body
      section#section-1
        h1 Traffic
        p.
          CHART HERE
        p.
          The Ten-Year Capital Strategy provides $656.3 million for Traffi c programs.  
        h2 Signal Installation and Computerization 
        p.
          The Ten-Year Capital Strategy provides $285.6 million for signal installation and computerization.  
        h2 Installation of Lampposts and Luminaires 
        p.
          The Ten-Year Capital Strategy provides $195.4 million for the installation of lampposts and luminaires.  
        h2 Installation of Pavement Markings 
        p.
          The Ten-Year Capital Strategy provides funding of $65.6 million for the installation of approximately 109 million linear feet of thermoplastic refl ectorized pavement markings to be done in conjunction with the Department’s in-house resurfacing program.
        h2 Highway and Bridge Related Work 
        p.
          The Ten-Year Capital Strategy provides $54.8 million for the installation of signals, streetlights, and lane markings associated with the Highway Reconstruction and Bridge Programs.   
        h2 Replacement of Electrical Distribution Systems 
        p.
          To reduce lighting outages, the Ten-Year Capital Strategy will replace approximately 320,000 linear feet of wire/conduit for traffi c related electrical distribution systems throughout the City’s roadway and park lighting systems, at a total cost of $32.0 million.   
        h2 Parking Meters, Lots, Garages and Equipment 
        p.
          The Ten-Year Capital Strategy provides $22.9 million for parking meters, lots, garages, and electrical vehicle charging stations.