extends /_layouts/_transportation.pug
block content
  article.content-artice
    div.content-container
        aside.content-sidebar
          h2 Transportation & Transit
          nav.internal-nav
            ol
              li
                a(href='/transportation_overview.html') Overview
              li
                a(href='/transportation_bridges.html') Bridges
              li
                a(href='/transportation_highways.html') Highways
              li
                a(href='/transportation_traffic.html') Traffic
              li
                a(href='/transportation_ferries.html') Ferries
              li.selected
                a(href='/transportation_equipment.html') Equipment
              li
                a(href='/transportation_transit_authority.html') Transit Authority
                  
        article.content-body
          section#section-1
            h1 Equipment
            p.
              The Ten-Year Capital Strategy provides $109.9 million for the purchase of vehicles and equipment for DOT field forces and computer equipment for office automation, data processing, and engineering support.   

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category TRANSPORTATION EQUIPMENT
        h2 Equipment
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>

    article.chart
      h2 Department of Transportation - Equipment
      p.subchart ($ in 000's)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Project Type: TD
                th 2018
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th 2024
                th 2025
                th 2026
                th 2027
                th Total
              tr
                td Data Processing Equipment
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 24,494
                td 15,064
                td 9,195
                td 3,380
                td 898
                td 916
                td 946
                td 977
                td 1,007
                td 1,039
                td 57,916
              tr
                td &nbsp; Federal
                td 1,500
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,500
              tr
                td Automotive and Other Equipment
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 24,615
                td 23,475
                td 139
                td 957
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 49,186
              tr
                td &nbsp; Federal
                td 1,339
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 1,339
              tr
                td.total Project Type Total by Source of Funds
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; City
                td 49,109
                td 38,539
                td 9,334
                td 4,337
                td 898
                td 916
                td 946
                td 977
                td 1,007
                td 1,039
                td 107,102
              tr
                td &nbsp; Federal
                td 2,839
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 2,839
              tr
                td.total Project Type Total
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; All funds
                td 51,948
                td 38,539
                td 9,334
                td 4,337
                td 898
                td 916
                td 946
                td 977
                td 1,007
                td 1,039
                td 109,941
              tr.empty
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td.total Transportation Total
                td.total 2018
                td.total 2019
                td.total 2021
                td.total 2022
                td.total 2023
                td.total 2024
                td.total 2026
                td.total 2027
                td.total Total
              tr
                td Total by Source of Funds
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 2,398,938
                td 1,654,035
                td 2,304,571
                td 2,655,018
                td 1,314,167
                td 796,178
                td 531,843
                td 449,178
                td 393,148
                td 858,739
                td 13,355,815
              tr
                td &nbsp; Federal
                td 426,079
                td 242,293
                td 235,575
                td 310,874
                td 49,576
                td 39,717
                td 0
                td 0
                td 0
                td 0
                td 1,304,114
              tr
                td &nbsp; State
                td 97,181
                td 70,545
                td 46,092
                td 42,617
                td 26,260
                td 33,435
                td 22,000
                td 33,000
                td 22,000
                td 33,000
                td 426,130
              tr
                td &nbsp; Private
                td 24,247
                td 11,231
                td 14,414
                td 11,062
                td 11,062
                td 11,062
                td 11,062
                td 11,062
                td 9,470
                td 11,062
                td 125,734
              tr
                td &nbsp; All Funds
                td 2,946,445
                td 1,978,104
                td 2,600,652
                td 3,019,571
                td 1,401,065
                td 880,392
                td 564,905
                td 493,240
                td 424,618
                td 902,801
                td 15,211,793

    div.clear
    article.next
      section
        p.continue
          a(href='/transportation_transit_authority.html') <strong>Continue to Transportation 7:</strong> Transit Authority
