extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li.selected
            a(href='#') Overview
          li
            a(href='#') Bridges
          li
            a(href='#') Highways
          li
            a(href='#') Traffic
          li
            a(href='#') Ferries
          li
            a(href='#') Equipment
          li
            a(href='#') Transit Authority
              
    article.content-body
      section#section-1
        h1 Department of Transportation
        p.
          The Department of Transportation (DOT) is responsible for the safe and effi cient movement of people and goods in New York City. To fulfi ll this mission, DOT builds and maintains streets, sidewalks, highways, bridges, and municipal parking facilities; maintains and operates municipal ferry systems and monitors private ferry systems; monitors private bus companies; promotes the use of sustainable modes of transportation; participates in traffi c regulation efforts; and serves as an advocate for better and safer transportation. 
        p.
          Although future demands on the transportation network will depend on a host of economic, demographic, and social trends that are diffi cult to predict, all indicators point to an increasing transportation demand. Increasing congestion on the City’s highways will further exacerbate the diffi culties of goods movement, as most goods are shipped into the City via trucks. In the face of these trends the challenge will be to channel as much of this rising demand into mass transit as possible, while still maintaining a viable and safe local street system. Simultaneously, the City must maintain its aging bridge and arterial network so that vital transportation links do not become structurally defi cient or congested, and to limit pollution-causing bottlenecks, which can impede the City’s economic growth. 
        p.
          <b>Capital Program Goals</b>
        ul
          li Provide safe and effi cient travel throughout the City by rehabilitating defi cient bridges and performing work necessary to keep bridges in a state of good repair;
          li Provide streets in good repair;
          li Promote the safety of pedestrians, bicyclists, and drivers;
          li Improve the fl ow of traffi c and minimize congestion; 
          li Maintain and improve safety on City streets by providing adequate lighting, adding and upgrading intersection signalization, installing lane markings, and traffi c calming measures;
          li Protect the public from excessive amounts of motor vehicle pollution;
          li Provide public transportation that is accessible, reliable, and clean; and
          li Ensure the safe and effi cient operation of ferries and ferry terminals.
        h3
          Ten-Year Capital Strategy
        p.
          The Ten-Year Capital Strategy provides approximately $15.2 billion to the Department, with Bridges and Highways receiving the bulk of funding, totaling approximately $14.1 billion. 
       