extends /_layouts/_transportation.pug
block content
  article.content-artice
    aside.content-sidebar
      nav.internal-nav
        ol
          li
            a(href='/transportation_overview.html') Overview
          li
            a(href='/transportation_bridges.html') Bridges
          li
            a(href='/transportation_highways.html') Highways
          li
            a(href='/transportation_traffic.html') Traffic
          li
            a(href='/transportation_ferries.html') Ferries
          li
            a(href='/transportation_equipment.html') Equipment
          li.selected
            a(href='/transportation_transit_authority.html') Transit Authority
              
    article.content-body
      section#section-1
        h1 Transit Authority
        p.
          New York City Transit (NYCT) is the largest agency in the Metropolitan Transportation Authority (MTA) regional transportation network. The MTA is the largest regional transit provider in the Western Hemisphere and New York City Transit (NYCT) operates the most extensive public transportation system in the country, serving over 2.4 billion subway, bus and paratransit passengers each year, in addition to a 21-station rail system on Staten Island known as MTA Staten Island Railway. NYCT maintains a fleet of 6,418 subway cars, 472 passenger stations in four boroughs, and over 660 miles of subway. It operates 24 hours a day, 365 days a year. In addition, NYCT operates a fleet of 4,425 buses on 235 routes on over 2,000 route miles throughout the City. Through 2015, subway ridership was 1.8 billion annually, reaching its highest level in over 40 years, as riders continue to utilize more unlimited ride and discount fare options.
        p.
          Since 1982, NYCT has implemented six multi-year capital reconstruction programs to restore the system to a state of good repair and normal replacement, with an emphasis on service and a well-maintained fleet. The transit system currently benefits from a twelve-month moving average subway car reliability of 113,022 miles between failures. The five year 2015-2019 Capital Program, approved by the MTA Board in April 2016, includes $29.5 billion for all MTA agencies, $15.8 billion of which would be invested in the NYCT core system, and $1.0 billion for NYCT network expansion. The 2015-2019 Capital Program includes a City contribution of $2.5 billion, consisting of $1.9 billion to be funded with proceeds of City general obligation bonds and $600.0 million to be funded through alternative non tax levy revenue sources. 
        p.
          The Metropolitan Transportation Authority Bus Company (MTABC) provides local and express bus service to supplement the NYCT system in areas previously served by private bus companies franchised by the City. With a fleet of 1,285 buses, the MTABC serves over 126 million riders per year, operating 24 hours a day, 365 days a year. MTABC&#8217;s operating costs are subsidized by the City
        h2 Capital Program Goals
        p.
          The five year 2015-2019 MTA Capital Program for NYCT includes subway station rehabilitations, improvements in the subway&#8217;s signals, communications, track maintenance and replacement of train cars and buses. More specifically, the improvements will ensure safety, reliability and performance by improving infrastructure and facilities. The Capital Program includes the purchase of 940 new subway cars for $2.9 billion which will replace B Division cars reaching the end of their useful lives. The Capital Program also includes the purchase of 1,391 new buses for $1.0 billion. These new buses are part of NYCT&#8217;s normal replacement cycle and will replace existing fleets that are approaching the end of their useful lives. The remaining $12.0 billion is budgeted for system-wide infrastructure and other upgrades.
        p.
          The 2015-2019 MTA Capital Program for MTABC includes a total of $376.0 million to replace 345 buses and to upgrade facilities and equipment at MTABC depots.
        h2 Ten-Year Capital Strategy
        p.
          In the Ten-Year Capital Strategy, the City will contribute $655.0 million to the MTA, including $350.0 million for ongoing NYCT track improvements and rehabilitation, $301.2 million for other subway and bus projects, and $3.8 million for various Staten Island Railway projects. Additional City funds shall be provided concurrently with additional State funds in accordance with the funding needs of the capital program. 

    div.clear

    section.datavis.standalone
      section.partial-page
        div.hidden-category TRANSIT AUTHORITY
        h2 Transit Authority
    
        ul#infrastructure

        p.budget-total Total $<span class="budget-dollars"></span>

    article.chart
      h2 Transit Authority - Staten Island Rapid Transit
      p.subchart ($ in 000's)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Project Type: ST
                th 2018
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th 2024
                th 2025
                th 2026
                th 2027
                th Total
              tr
                td Staten Island Rapid Transit Operating Authority
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 1,275
                td 1,275
                td 1,275
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 3,825
              tr
                td.total Project Type Total by Source of Funds
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; City
                td 1,275
                td 1,275
                td 1,275
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 3,825
              tr
                td.total Project Type Total
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; All funds
                td 1,275
                td 1,275
                td 1,275
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 3,825

    article.chart
      h2 Transit Authority - Transit
      p.subchart ($ in 000's)

      div.scroll-chart
        div.chart-container
          table.responsive
              tr
                th Project Type: T
                th 2018
                th 2019
                th 2020
                th 2021
                th 2022
                th 2023
                th 2024
                th 2025
                th 2026
                th 2027
                th Total
              tr
                td Miscellaneous Transit Improvement Projects
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 83,725
                td 83,725
                td 83,725
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 0
                td 251,175
              tr
                td Miscellaneous Projects for New York City Transit
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 5,000
                td 50,000
              tr
                td IFA Trackwork Project for New York City Transit
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
              tr
                td &nbsp; City
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 35,000
                td 350,000
              tr
                td.total Project Type Total by Source of Funds
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; City
                td 123,725
                td 123,725
                td 123,725
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 651,175
              tr
                td.total Project Type Total
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
                td.total &nbsp;
              tr
                td &nbsp; All funds
                td 123,725
                td 123,725
                td 123,725
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 40,000
                td 651,175