footer.main-footer
  .page-contain
    block footer
      nav.footer-nav
        ul.inline-list.site-links
          li
            a(href='#') Download the Report
          li
            a(href='#') Contact
        ul.inline-list.site-links
          li.copyright
            a(href='#') &copy; 2017 City of New York, All Rights Reserved
