footer.main-footer
  .page-contain
    block footer
      nav.footer-nav
        ul.inline-list.site-links
          li
            a(href='https://www1.nyc.gov/assets/omb/downloads/pdf/typ4-19.pdf') <img class="download-report" src="/images/download-icon.svg" /> Download the Report
          li
            a(href='mailto:press@planning.nyc.gov') Contact
        ul.inline-list.site-links
          li.copyright
            a(href='/') &copy; 2019 City of New York, All Rights Reserved
          li.logo
            a(href='/')
              img(src='/images/pngs/NYC-logo-white.png')/
        div.disclaimer
          p.
            The Ten Year Capital Strategy is jointly prepared by the Mayor’s Office of Management and Budget and the Department of City Planning, 
            and released by the Mayor with the Executive Budget during odd calendar years. The Ten Year Capital
            Strategy is not the City’s current capital budget or plan. For the most up-to-date assessment of the
            City’s capital planning, please refer to the most recent Capital Budget and Capital Commitment plans,
            which are updated several times per year. You can find these documents on the
            <a href="https://www1.nyc.gov/site/omb/index.page">Office of Management and Budget’s website</a>.
