footer.main-footer
  .page-contain
    block footer
      nav.footer-nav
        ul.inline-list.site-links
          li
            a(href='https://www1.nyc.gov/assets/omb/downloads/pdf/typ4-19.pdf') <img class="download-report" src="/images/download-icon.svg" /> Download the Report
          li
            a(href='mailto:CapitalPlanning_DL@planning.nyc.gov') Contact
        ul.inline-list.site-links
          li.copyright
            a(href='/') &copy; 2019 City of New York, All Rights Reserved
          li.logo
            a(href='/')
              img(src='/images/pngs/NYC-logo-white.png')/
        div.disclaimer
          p.
            The Ten-Year Capital Strategy reflects a broad, long term vision of the City’s capital plan as of the Fiscal Year 2020 Executive Budget.
            The Ten-Year Capital Strategy is separate and distinct from the City’s adopted Capital Budget and four-year Capital Commitment Plan, which,
            due to the passage of time and other factors, reflect changes from the Ten-Year Capital Strategy. These documents are available on the
            <a href="https://www1.nyc.gov/site/omb/index.page">Office of Management and Budget’s website</a>.
