header.content-header
  header.main-header

    a(href='/').branding
      img(src='/images/pngs/nyc-seal.png')/ 

    div.header-links
      div.left-links
        a(href='/overview.html') Overview
        a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Principles
        a(href='/priority_maintain_our_infrastructure.html') Priorities
        a(href='/financing_program.html').selected Financing
      div.right-links
        a(href='https://www1.nyc.gov/assets/omb/downloads/pdf/typ4-19.pdf') <img class="download-report" src="/images/download-icon.svg" /> Download Full Report
        //- div.agencies-menu
        //-   a(href='#').agencies Agencies
        //-   ul.unstyled-list.hidden-nav
        //-     a(href='/transportation_overview.html')
        //-       li Transportation &amp; Transit
        //-     a(href='#')
        //-       li Environmental Protection
        //-     a(href='#')
        //-       li Public Safety
        //-     a(href='#')
        //-       li Education, Health, Hospitals, and Social Services
        //-     a(href='#')
        //-       li Housing and Economic Development
        //-     a(href='#')
        //-       li Citywide Administrative Services
        //-     a(href='#')
        //-       li Culturals &amp; Recreation
        //-     a(href='#')
        //-       li Energy Efficiency and Citywide Equipment

    button(type='button').nav-toggle.js-toggle-nav
      div#menuToggle
        input(type="checkbox")
        span
        span
        span
    
    nav.header-nav
      ul.unstyled-list
        li
          a(href='/principle_maintain_new_york_citys_financial_responsibility.html') Principles
        li
          a(href='/priority_maintain_our_infrastructure.html') Priorities
        li
          a(href='/financing_program.html').selected Financing
        li.desktop-agencies
          div.agencies-menu
            a(href='#').agencies.tabletnav Agencies
            ul.unstyled-list.hidden-nav
              a(href='/transportation_overview.html')
                li Transportation &amp; Transit
              a(href='#')
                li Environmental Protection
              a(href='#')
                li Public Safety
              a(href='#')
                li Education, Health, Hospitals, and Social Services
              a(href='#')
                li Housing and Economic Development
              a(href='#')
                li Citywide Administrative Services
              a(href='#')
                li Culturals &amp; Recreation
              a(href='#')
                li Energy Efficiency and Citywide Equipment
        li.mobile-agencies
          select.agencylist
            option Agencies
            option.transportation Transportation &amp; Transit
            option Environmental Protection
            option Public Safety
            option Education, Health, Hospitals, and Social Services
            option Housing and Economic Development
            option Citywide Administrative Services
            option Culturals &amp; Recreation
            option Energy Efficiency and Citywide Equipment
            
    h3 NYC Capital Strategy
