/**
 * Colors
 */
$color-aquablue: #e4f1ff;
$color-black: #000;
$color-aqua: #c0ffe0;
$color-aqua-dark: #d8e4f3;
$color-dark-green: #02bc5f;
$color-light-green: #c0ffe0;
$color-green: #37dd8a;
$color-grey-font: #3a4250;
$color-grey-light: #f6f6f6;
$color-grey-border: #d8d8d8;
$color-grey-label: #8a9ab7;
$color-lightblue: #d7e8fc;
$color-blueborder: #bcd8fb;
$color-navblue: #0056f1;
$color-skyblue: #f3f7fd;
$color-papayawhip: #ffefd5;
$color-royalblue: #4169e1;
$color-white: #fff;
